In [76]:
import json
import sqlite3
import pandas as pd
import numpy as np
import requests
import tqdm
import re

In [63]:
# Arguments
db_path = '../Database/Aminer_Simplified-small.sqlite'
template_path = './templates.json'
url = 'openai-url'
api_key = 'your-api-key'
headers = {
    'Content-Type': 'application/json',
    'Authorization': f'Bearer {api_key}'
}
prompt_path = './ZeroShotRewitePrompt.txt'

In [19]:
def get_tables_info(db_path) -> dict:

    tables_info = {}
    
    conn = sqlite3.connect(db_path)
    cur = conn.cursor()
    
    # Fetch names of all tables
    cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = cur.fetchall()

    # For each table, fetch column names and data types
    for table in tables:
        table_name = table[0]
        cur.execute(f"PRAGMA table_info({table_name});")
        columns_info = cur.fetchall()
        columns = []
        for column_info in columns_info:
            column_id, column_name, column_type, notnull, dflt_value, pk = column_info
            columns.append((column_name, column_type))
        tables_info[table_name] = columns
    
    conn.close()
    return tables_info

get_tables_info(db_path=db_path)

{'Venue': [('id', 'TEXT'), ('DisplayName', 'TEXT')],
 'Affiliation': [('id', 'TEXT'),
  ('DisplayName', 'TEXT'),
  ('type', 'TEXT'),
  ('url', 'TEXT')],
 'Author': [('id', 'TEXT'),
  ('name', 'TEXT'),
  ('org', 'TEXT'),
  ('position', 'TEXT'),
  ('n_pubs', 'INTEGER'),
  ('n_citation', 'INTEGER'),
  ('h_index', 'INTEGER')],
 'Paper': [('id', 'TEXT'),
  ('title', 'TEXT'),
  ('year', 'INTEGER'),
  ('n_citation', 'INTEGER'),
  ('page_start', 'TEXT'),
  ('page_end', 'TEXT'),
  ('lang', 'TEXT'),
  ('volume', 'TEXT'),
  ('doi', 'TEXT'),
  ('pdf', 'TEXT'),
  ('abstract', 'TEXT')],
 'Venue_Papers': [('venue_id', 'TEXT'), ('paper_id', 'TEXT')],
 'Paper_Keywords': [('paper_id', 'TEXT'), ('keyword', 'TEXT')],
 'Paper_Authors': [('paper_id', 'TEXT'),
  ('rank', 'INTEGER'),
  ('author_id', 'TEXT')],
 'Orgnization_Researchers': [('affiliation_name', 'TEXT'),
  ('author_id', 'TEXT')],
 'Researcher_Interests': [('author_id', 'TEXT'),
  ('tag', 'TEXT'),
  ('weight', 'INTEGER')]}

In [12]:
def get_database_prompt(db_path) -> str:

    stmt = ''

    conn = sqlite3.connect(db_path)
    cur = conn.cursor()

    # Fetch names of all tables
    cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = cur.fetchall()

    # Fech create statements for all tables
    for table in tables:
        table_name = table[0]
        cur.execute(f"SELECT sql FROM sqlite_master WHERE type='table' AND name='{table_name}';")
        create_statement = cur.fetchone()[0]

        stmt += create_statement + '\n\n'

    conn.close()
    return stmt

print(get_database_prompt(db_path=db_path))

CREATE TABLE Venue(
  id TEXT, -- id
  DisplayName TEXT, -- name of the conferenece/joural
  PRIMARY KEY (id)
)

CREATE TABLE Affiliation(
  id TEXT, -- id
  DisplayName TEXT, -- name of the orgnization
  type TEXT, -- orgnization type
  url TEXT, -- link of the orgnization's homepage
  PRIMARY KEY (id)
)

CREATE TABLE Author(
  id TEXT, -- id
  name TEXT, -- name
  org TEXT, -- author's current orgnization
  position TEXT, -- position
  n_pubs INTEGER, -- number of paper publication
  n_citation INTEGER, -- number of total citation
  h_index INTEGER, -- h-index
  PRIMARY KEY (id)
)

CREATE TABLE Paper(
  id TEXT, -- id
  title TEXT, -- title
  year INTEGER, -- publication year
  n_citation INTEGER, -- number of citation
  page_start TEXT, -- start page on the publication
  page_end TEXT, -- end page on the publication
  lang TEXT, -- language
  volume TEXT, -- volume of the publicaiton
  doi TEXT, -- digital object unique identifier
  pdf TEXT, -- pdf view link of the paper
  abstract TEXT, -- paper abstract
  PRIMARY KEY (id)
)

CREATE TABLE Venue_Papers(
  venue_id TEXT, -- venue_id
  paper_id TEXT, -- paper_id
  FOREIGN KEY (venue_id) REFERENCES Venue(id),
  FOREIGN KEY (paper_id) REFERENCES Paper(id)
)

CREATE TABLE Paper_Keywords(
  paper_id TEXT, -- paper_id
  keyword TEXT, -- a keyword of the paper
  FOREIGN KEY (paper_id) REFERENCES Paper(id)
)

CREATE TABLE Paper_Authors(
  paper_id TEXT, -- paper_id
  rank INTEGER, -- this author's rank
  author_id TEXT, -- author_id
  FOREIGN KEY (paper_id) REFERENCES Paper(id),
  FOREIGN KEY (author_id) REFERENCES Author(id)
)

CREATE TABLE Orgnization_Researchers(
  affiliation_name TEXT, -- name of affiliation that this researcher once belonged to
  author_id TEXT, -- author_id
  FOREIGN KEY (author_id) REFERENCES Author(id)
)

CREATE TABLE Researcher_Interests(
  author_id TEXT, -- author_id
  tag Text, -- research interest
  weight INTEGER, -- weight of this interest
  FOREIGN KEY (author_id) REFERENCES Author(id)
)

In [44]:
# get sample data from a table
def get_sample_data(db_path, table_name, tables_info, limit=20) -> pd.DataFrame:

    # Extract sample data of each column from given table
    columns = [col[0] for col in tables_info[table_name]]

    sample_data = None
    for i, column in enumerate(columns):
        conn = sqlite3.connect(db_path)
        query = f"SELECT {column} FROM {table_name} WHERE {column} IS NOT NULL LIMIT {limit};" 
        df = pd.read_sql_query(query, conn)
        conn.close()

        # concate sample data of each column
        if i == 0:
            sample_data = df
        else:
            sample_data = pd.concat([sample_data, df], axis=1)

    return sample_data

get_sample_data(db_path=db_path, table_name='Affiliation', tables_info=get_tables_info(db_path), limit=5)

,id,DisplayName,type,url
0,5f0c1358faabae14decd6074,AMC Networks International Southern Europe,company,https://amcnetworks.es/
1,5f0c1358faabae14decd6086,Santa Paula High School,school,http://sphs.net
2,5f0c1358faabae14decd608d,Kewego,company,https://www.unibw.de/home
3,5f0c1371faabae14decd60b6,Bundeswehr University Munich,university,http://mvhs.nbed.nb.ca/
4,5f0c1372faabae14decd60de,Sherman High School (Texas),school,http://adams.sb.school/

In [58]:
def genertate_template_data(db_path, template_path, count = 10) -> dict :
    
    # Prepare tables info
    tables_info = get_tables_info(db_path)
    
    # Prepare sample data for each table
    tables_data = {}
    for table_name in tables_info.keys():
        tables_data[table_name] = get_sample_data(db_path, table_name, tables_info, limit=20)
    
    # Load template
    with open(template_path, 'r') as f:
        templates = json.load(f)

    # Generate template data
    np.random.seed(0)
    generated = []
    
    for _ in range(count) :
        
        template = np.random.choice(templates)
        t_col = len(template['type']) # column count required in template
        t_text_col = len([col for col in template['type'] if col == 'TEXT'])  # text column count required in template
        t_number_col = len([col for col in template['type'] if col == 'NUMBER']) # number column count required in template
        query = template['query']
        question = np.random.choice(template['question']) # a query may have multiple questions

        while True : # sample a table until it satisfies the template
            table_name = np.random.choice(list(tables_info.keys()))
            columns = [col[0] for col in tables_info[table_name]]
            text_cols = [col[0] for col in tables_info[table_name] if col[1] == 'TEXT']
            number_cols = [col[0] for col in tables_info[table_name] if col[1] == 'INTEGER' or col[1] == 'REAL']
            if len(columns) < t_col or len(text_cols) < t_text_col or len(number_cols) < t_number_col :
                continue
            break
        
        # Items to fill slots in the template
        slot_columns = []
        slot_values = []
        slot_str = ''

        # Select columns that meets datatype requirement
        if 'type' in template :
            typeres = template['type']
            for tp in typeres :
                if tp == 'TEXT' :
                    slot_columns.append(np.random.choice(text_cols))
                elif tp == 'NUMBER' :
                    slot_columns.append(np.random.choice(number_cols))
                elif tp == 'ANY' :
                    slot_columns.append(np.random.choice(columns))
        else :
            slot_columns = np.random.choice(columns, t_col, replace=False)

        # Select values for the selected columns
        if 'value_int' in template :
            valueres = template['value_int']
            for val in valueres :
                if val != 'COUNT' :
                    col_name = slot_columns[int(val)]
                    col_data = tables_data[table_name][col_name]
                    slot_values.append(np.random.choice(col_data))
                else : # the returned record is limited
                    slot_values.append(np.random.randint(1, 100))
        
        # Selct str for he selected columns
        if 'value_str' in template :
            col_name = slot_columns[int(template['value_str'][-1])] # one str restriction at most in our template
            col_data = tables_data[table_name][col_name]
            slot_str = np.random.choice(col_data)

        # replace slot with sampled items
        def replace(query) :
            query = query.replace('{TABLE}', table_name) # fill table name 
            query = query.replace('{COLUMN}', slot_columns[0]) # fill columns
            for i in range(len(slot_columns)-1) :
                query = query.replace('{COLUMN'+str(i+2)+'}', slot_columns[i+1]) 
            if len(slot_values) > 0 : # fill values
                query = query.replace('{VALUE_INT}', str(slot_values[0]))
                if len(slot_values) > 1 :
                    query = query.replace('{VALUE_INT2}', str(slot_str[1]))
            if slot_str != '' : # fill str
                query = query.replace('{VALUE_STR}', slot_str)
            return query
        
        #print('Table:', table_name)
        #print('Columns:', slot_columns)
        #print('Values:', slot_values)
        #print('Str:', slot_str)
        #print('Question:', question)
        #print('Query:', query)

        query = replace(query)
        question = replace(question)
        
        #print('Question:', question)
        #print('Query:', query)
        generated.append({'question': question, 'SQL': query})
    return generated
    
        
genertate_template_data(db_path=db_path, template_path=template_path, count = 10)

[{'question': 'Report the n_citation of all Paper for which n_citation does not equals to 0.',
  'SQL': 'SELECT n_citation FROM Paper WHERE n_citation != 0'},
 {'question': 'what are the two paper_id of highest rank?',
  'SQL': 'SELECT paper_id FROM Paper_Authors ORDER BY rank DESC LIMIT 2'},
 {'question': 'show the type with showing up fewer than 40 times.',
  'SQL': 'SELECT type FROM Affiliation GROUP BY type HAVING COUNT (*) < 40'},
 {'question': 'How many Researcher_Interests has a weight of more than 1 and a tag is visualization?',
  'SQL': 'SELECT COUNT (*) FROM Researcher_Interests WHERE weight > 1 AND tag = "visualization"'},
 {'question': 'what is the position and id of the Author with the top 5 smallest n_citation ?',
  'SQL': 'SELECT position , id FROM Author ORDER BY n_citation LIMIT 5'},
 {'question': 'What is the n_citation value that has the most occurance?',
  'SQL': 'SELECT n_citation FROM Paper GROUP BY n_citation ORDER BY count(*) DESC LIMIT 1'},
 {'question': 'list all information about Affiliation.',
  'SQL': 'SELECT * FROM Affiliation'},
 {'question': 'What is the average and maximum year of each Paper?',
  'SQL': 'SELECT avg(year), max(year) FROM Paper'},
 {'question': 'Find n_pubs and id of the top 3 n_pubs.',
  'SQL': 'SELECT n_pubs , id FROM Author ORDER BY n_pubs DESC LIMIT 3'},
 {'question': 'For every paper_id in Paper_Keywords, return the paper_id, its number of distinct paper_id as well as the total count of Paper_Keywords within that group.',
  'SQL': 'SELECT paper_id , count(DISTINCT paper_id) , count(*) FROM Paper_Keywords GROUP BY paper_id'}]

In [65]:
def filter_template_data(data, db_path) -> list :
    conn = sqlite3.connect(db_path)
    cur = conn.cursor()
    filtered = []
    for item in data :
        try :
            cur.execute(item['SQL'])
            result = cur.fetchall()
            if len(result) > 0 :
                filtered.append(item)
        except Exception as e :
            print(e)
            print('Error in SQL:', item['SQL'])
    conn.close()
    return filtered

data = genertate_template_data(db_path=db_path, template_path=template_path, count = 10)
data = filter_template_data(data, db_path)
data

[{'question': 'Report the n_citation of all Paper for which n_citation does not equals to 0.',
  'SQL': 'SELECT n_citation FROM Paper WHERE n_citation != 0'},
 {'question': 'what are the two paper_id of highest rank?',
  'SQL': 'SELECT paper_id FROM Paper_Authors ORDER BY rank DESC LIMIT 2'},
 {'question': 'show the type with showing up fewer than 40 times.',
  'SQL': 'SELECT type FROM Affiliation GROUP BY type HAVING COUNT (*) < 40'},
 {'question': 'How many Researcher_Interests has a weight of more than 1 and a tag is visualization?',
  'SQL': 'SELECT COUNT (*) FROM Researcher_Interests WHERE weight > 1 AND tag = "visualization"'},
 {'question': 'what is the position and id of the Author with the top 5 smallest n_citation ?',
  'SQL': 'SELECT position , id FROM Author ORDER BY n_citation LIMIT 5'},
 {'question': 'What is the n_citation value that has the most occurance?',
  'SQL': 'SELECT n_citation FROM Paper GROUP BY n_citation ORDER BY count(*) DESC LIMIT 1'},
 {'question': 'list all information about Affiliation.',
  'SQL': 'SELECT * FROM Affiliation'},
 {'question': 'What is the average and maximum year of each Paper?',
  'SQL': 'SELECT avg(year), max(year) FROM Paper'},
 {'question': 'Find n_pubs and id of the top 3 n_pubs.',
  'SQL': 'SELECT n_pubs , id FROM Author ORDER BY n_pubs DESC LIMIT 3'},
 {'question': 'For every paper_id in Paper_Keywords, return the paper_id, its number of distinct paper_id as well as the total count of Paper_Keywords within that group.',
  'SQL': 'SELECT paper_id , count(DISTINCT paper_id) , count(*) FROM Paper_Keywords GROUP BY paper_id'}]

In [79]:
def extract(response:str) -> str : # extract response from formatted string
    text = ''
    try :
        text = re.search(r'\{(.+?)\}', response, re.DOTALL).groups(0)[-1] 
    except : 
        return ''
    return text

def rewrite_template_query(data, database_prompt, prompt_path) -> list :
    rewritten = []
    prompt_template = open(prompt_path, 'r').read()
    prompt_template = prompt_template.replace('SCHEMA_SLOT', database_prompt)
    for item in tqdm.tqdm(data) :
        question = item['question']
        query = item['SQL']
        params = {
                    "model": "gpt-3.5-turbo-16k",
                    "messages": [{"role":"user", "content":prompt_template.replace('NATURAL_LANGUAGE_QUESTION', question).replace('SQL_QUERY', query)}],
                    "temperature": 0.5,
        }
        print(params)
        response = requests.post(url, headers=headers, data=json.dumps(params))
        rewrite_question = extract(response.json().get('choices')[0].get('message').get('content'))
        print(question)
        print(response.json().get('choices')[0].get('message').get('content'))
        if rewrite_question != '' :
            rewritten.append({'question': rewrite_question, 'SQL': query})
    return rewritten

rewrite_template_query(data=data, database_prompt=get_database_prompt(db_path), prompt_path=prompt_path)

  0%|          | 0/10 [00:00<?, ?it/s]

{'model': 'gpt-3.5-turbo-16k', 'messages': [{'role': 'user', 'content': '[Task Description]\nYou have a SQLite database. Based on the Schema(with useful comments on columns), you generated plentiful question-query pairs with template, whose readability is terrible. Now, given a question-query pair, you are asked to rewrite the question to enhance its readability with the help of comments in Schema.\n\n[Schema]\n{CREATE TABLE Venue(\n  id TEXT, -- id\n  DisplayName TEXT, -- name of the conferenece/joural\n  PRIMARY KEY (id)\n)\n\nCREATE TABLE Affiliation(\n  id TEXT, -- id\n  DisplayName TEXT, -- name of the orgnization\n  type TEXT, -- orgnization type\n  url TEXT, -- link of the orgnization\'s homepage\n  PRIMARY KEY (id)\n)\n\nCREATE TABLE Author(\n  id TEXT, -- id\n  name TEXT, -- name\n  org TEXT, -- author\'s current orgnization\n  position TEXT, -- position\n  n_pubs INTEGER, -- number of paper publication\n  n_citation INTEGER, -- number of total citation\n  h_index INTEGER, -- h-index\n  PRIMARY KEY (id)\n)\n\nCREATE TABLE Paper(\n  id TEXT, -- id\n  title TEXT, -- title\n  year INTEGER, -- publication year\n  n_citation INTEGER, -- number of citation\n  page_start TEXT, -- start page on the publication\n  page_end TEXT, -- end page on the publication\n  lang TEXT, -- language\n  volume TEXT, -- volume of the publicaiton\n  doi TEXT, -- digital object unique identifier\n  pdf TEXT, -- pdf view link of the paper\n  abstract TEXT, -- paper abstract\n  PRIMARY KEY (id)\n)\n\nCREATE TABLE Venue_Papers(\n  venue_id TEXT, -- venue_id\n  paper_id TEXT, -- paper_id\n  FOREIGN KEY (venue_id) REFERENCES Venue(id),\n  FOREIGN KEY (paper_id) REFERENCES Paper(id)\n)\n\nCREATE TABLE Paper_Keywords(\n  paper_id TEXT, -- paper_id\n  keyword TEXT, -- a keyword of the paper\n  FOREIGN KEY (paper_id) REFERENCES Paper(id) \n)\n\nCREATE TABLE Paper_Authors(\n  paper_id TEXT, -- paper_id\n  rank INTEGER, -- this author\'s rank\n  author_id TEXT, -- author_id\n  FOREIGN KEY (paper_id) REFERENCES Paper(id),\n  FOREIGN KEY (author_id) REFERENCES Author(id) \n)\n\nCREATE TABLE Orgnization_Researchers(\n  affiliation_name TEXT, -- name of affiliation that this researcher once belonged to\n  author_id TEXT, -- author_id\n  FOREIGN KEY (author_id) REFERENCES Author(id)\n)\n\nCREATE TABLE Researcher_Interests(\n  author_id TEXT, -- author_id\n  tag Text, -- research interest\n  weight INTEGER, -- weight of this interest\n  FOREIGN KEY (author_id) REFERENCES Author(id)\n)\n\n}\n\n[Solution]\n\nQ: {How many distinct position are there with tag is high resolution?}\n{SELECT COUNT(DISTINCT Author.position) FROM Author JOIN Researcher_Interests ON Author.id = Researcher_Interests.author_id WHERE Researcher_Interests.tag = "high resolution"}\nA: {how may different academic positions are there in researchers who have an interest in "high resolution"?}\n\nQ: {Select the three Debt_Converted_Capital with the biggest Cash_Eq_End_Period from records}\n{SELECT Debt_Converted_Capital FROM Cash_Flow_Statement ORDER BY Cash_Eq_End_Period DESC LIMIT 3}\nA: {find me capital converted from debt with top3 cash equivalents closing balance.}\n\nQ: {What is the page_end of the records with a keyword of \'electric vehicle\' or \'Renmin Univ\'?}\n{SELECT Paper.page_end FROM Paper JOIN Paper_Keywords ON Paper.id = Paper_Keywords.paper_id WHERE Paper_Keywords.keyword = \'electric vehicle\' OR Paper_Keywords.keyword = \'Renmin Univ\'}\nA: {For papers having keyword \'electric vehicle\' or \'Renmin Univ\', what are theirs end page on the publicaiton?}\n\nQ: {What is the average Fix_Assets of records grouped by Stk_Name?}\n{SELECT avg(Balance_Sheet.Fix_Assets) , Basic_Info.Stk_Name FROM Basic_Info JOIN Balance_Sheet ON Basic_Info.Stk_Code = Balance_Sheet.Stk_Code GROUP BY Basic_Info.Stk_Name}\nA: {find out the average fixed assets of each stock.}\n\nQ: {Find the number of records with a h_index of more than 1 for each affiliation_name}\n{SELECT count(*) , Orgnization_Researchers.affiliation_name FROM Author JOIN Orgnization_Researchers ON Author.id = Orgnization_Researchers.author_id WHERE Author.h_index > 1 GROUP BY Orgnization_Researchers.affiliation_name}\nA: {for each affiliation, how many researchers whose h_index greater than 1 belongs to it?}\n\nQ: {For each Tax_n_Surs, report the Tax_n_Surs, the number of Stk_Name and the total number of records with that Tax_n_Surs.}\n{SELECT Income_Statement.Tax_n_Surs , count(DISTINCT Basic_Info.Stk_Name) , count(*) FROM Basic_Info JOIN Income_Statement ON Basic_Info.Stk_Code = Income_Statement.Stk_Code GROUP BY Income_Statement.Tax_n_Surs}\nA: {i want to know how many records and different company names do we have for each taxes and surcharges value, along with the value itself.}\n\nQ: {Show DisplayName of any records in which pdf equals //static.aminer.org/pdf/PDF/001/011/809/.pdf}\n{SELECT Venue.DisplayName FROM Paper JOIN Venue_Papers ON Paper.id = Venue_Papers.paper_id JOIN Venue ON Venue_Papers.venue_id = Venue.id WHERE Paper.pdf = \'//static.aminer.org/pdf/PDF/001/011/809/.pdf\'}\nA: {give me name of the conferenece if anyone of its paper have pdf link same as //static.aminer.org/pdf/PDF/001/011/809/.pdf}\n\nQ: {Count how many records that either have a Stk_Name of China Everbright Bank or a Cash_Pay_Invest of 1056100000000.0.}\n{SELECT count(*) FROM Basic_Info JOIN Cash_Flow_Statement ON Basic_Info.Stk_Code = Cash_Flow_Statement.Stk_Code WHERE Basic_Info.Stk_Name = "China Everbright Bank" OR Cash_Flow_Statement.Cash_Pay_Invest = 1056100000000.0 }\nA: {hoy many records belong to China Everbright Bank or thier cash paid for investment is exactly 1056100000000.0?}\n\nQ: {Report all information about records with h_index between 3 and 6 for which affiliation_name is M. D. Anderson Cancer Center, Houston, TX.}\n{SELECT * FROM Author JOIN Orgnization_Researchers ON Author.id = Orgnization_Researchers.author_id JOIN Affiliation ON Orgnization_Researchers.affiliation_name = Affiliation.DisplayName WHERE Author.h_index BETWEEN 3 AND 6 AND Orgnization_Researchers.affiliation_name = \\"M. D. Anderson Cancer Center, Houston, TX\\"}\nA: {report all the researcher that belongs to \'M. D. Anderson Cancer Center, Houston, TX.\' and have a h-index between 3 and 6.}\n\nQ: {What are the 3 Stk_Name in records with highest values of Acc_Deposits}\n{SELECT Basic_Info.Stk_Name FROM Basic_Info JOIN Balance_Sheet ON Basic_Info.Stk_Code = Balance_Sheet.Stk_Code ORDER BY Balance_Sheet.Acc_Deposits DESC LIMIT 3}\nA: {witch three companies have the most deposit absorption?}\n\nQ: {What are the DisplayName of records published before 1990?}\n{SELECT Venue.DisplayName FROM Paper JOIN Venue_Papers ON Paper.id = Venue_Papers.paper_id JOIN Venue ON Venue_Papers.venue_id = Venue.id WHERE Paper.year < 1990}\nA: {what are the names of venue that have papers published before 1990?}\n\nQ: {Give the distinct Tot_Liab_Own_Eq for all records in the database.}\n{SELECT distinct(Tot_Liab_Own_Eq) FROM Balance_Sheet}\nA: {return the distinct value of total liabilities and owner\'s equity in our data.}\n\nQ: {Report the n_citation of all Paper for which n_citation does not equals to 0.}\n{SELECT n_citation FROM Paper WHERE n_citation != 0}\nA:'}], 'temperature': 0.5}

 10%|█         | 1/10 [00:01<00:14,  1.60s/it]

Report the n_citation of all Paper for which n_citation does not equals to 0.
{show me the number of citations for all papers that have at least one citation.}
{'model': 'gpt-3.5-turbo-16k', 'messages': [{'role': 'user', 'content': '[Task Description]\nYou have a SQLite database. Based on the Schema(with useful comments on columns), you generated plentiful question-query pairs with template, whose readability is terrible. Now, given a question-query pair, you are asked to rewrite the question to enhance its readability with the help of comments in Schema.\n\n[Schema]\n{CREATE TABLE Venue(\n  id TEXT, -- id\n  DisplayName TEXT, -- name of the conferenece/joural\n  PRIMARY KEY (id)\n)\n\nCREATE TABLE Affiliation(\n  id TEXT, -- id\n  DisplayName TEXT, -- name of the orgnization\n  type TEXT, -- orgnization type\n  url TEXT, -- link of the orgnization\'s homepage\n  PRIMARY KEY (id)\n)\n\nCREATE TABLE Author(\n  id TEXT, -- id\n  name TEXT, -- name\n  org TEXT, -- author\'s current orgnization\n  position TEXT, -- position\n  n_pubs INTEGER, -- number of paper publication\n  n_citation INTEGER, -- number of total citation\n  h_index INTEGER, -- h-index\n  PRIMARY KEY (id)\n)\n\nCREATE TABLE Paper(\n  id TEXT, -- id\n  title TEXT, -- title\n  year INTEGER, -- publication year\n  n_citation INTEGER, -- number of citation\n  page_start TEXT, -- start page on the publication\n  page_end TEXT, -- end page on the publication\n  lang TEXT, -- language\n  volume TEXT, -- volume of the publicaiton\n  doi TEXT, -- digital object unique identifier\n  pdf TEXT, -- pdf view link of the paper\n  abstract TEXT, -- paper abstract\n  PRIMARY KEY (id)\n)\n\nCREATE TABLE Venue_Papers(\n  venue_id TEXT, -- venue_id\n  paper_id TEXT, -- paper_id\n  FOREIGN KEY (venue_id) REFERENCES Venue(id),\n  FOREIGN KEY (paper_id) REFERENCES Paper(id)\n)\n\nCREATE TABLE Paper_Keywords(\n  paper_id TEXT, -- paper_id\n  keyword TEXT, -- a keyword of the paper\n  FOREIGN KEY (paper_id) REFERENCES Paper(id) \n)\n\nCREATE TABLE Paper_Authors(\n  paper_id TEXT, -- paper_id\n  rank INTEGER, -- this author\'s rank\n  author_id TEXT, -- author_id\n  FOREIGN KEY (paper_id) REFERENCES Paper(id),\n  FOREIGN KEY (author_id) REFERENCES Author(id) \n)\n\nCREATE TABLE Orgnization_Researchers(\n  affiliation_name TEXT, -- name of affiliation that this researcher once belonged to\n  author_id TEXT, -- author_id\n  FOREIGN KEY (author_id) REFERENCES Author(id)\n)\n\nCREATE TABLE Researcher_Interests(\n  author_id TEXT, -- author_id\n  tag Text, -- research interest\n  weight INTEGER, -- weight of this interest\n  FOREIGN KEY (author_id) REFERENCES Author(id)\n)\n\n}\n\n[Solution]\n\nQ: {How many distinct position are there with tag is high resolution?}\n{SELECT COUNT(DISTINCT Author.position) FROM Author JOIN Researcher_Interests ON Author.id = Researcher_Interests.author_id WHERE Researcher_Interests.tag = "high resolution"}\nA: {how may different academic positions are there in researchers who have an interest in "high resolution"?}\n\nQ: {Select the three Debt_Converted_Capital with the biggest Cash_Eq_End_Period from records}\n{SELECT Debt_Converted_Capital FROM Cash_Flow_Statement ORDER BY Cash_Eq_End_Period DESC LIMIT 3}\nA: {find me capital converted from debt with top3 cash equivalents closing balance.}\n\nQ: {What is the page_end of the records with a keyword of \'electric vehicle\' or \'Renmin Univ\'?}\n{SELECT Paper.page_end FROM Paper JOIN Paper_Keywords ON Paper.id = Paper_Keywords.paper_id WHERE Paper_Keywords.keyword = \'electric vehicle\' OR Paper_Keywords.keyword = \'Renmin Univ\'}\nA: {For papers having keyword \'electric vehicle\' or \'Renmin Univ\', what are theirs end page on the publicaiton?}\n\nQ: {What is the average Fix_Assets of records grouped by Stk_Name?}\n{SELECT avg(Balance_Sheet.Fix_Assets) , Basic_Info.Stk_Name FROM Basic_Info JOIN Balance_Sheet ON Basic_Info.Stk_Code = Balance_Sheet.Stk_Code GROUP BY Basic_Info.Stk_Name}\nA: {find out the average fixed assets of each stock.}\n\nQ: {Find the number of records with a h_index of more than 1 for each affiliation_name}\n{SELECT count(*) , Orgnization_Researchers.affiliation_name FROM Author JOIN Orgnization_Researchers ON Author.id = Orgnization_Researchers.author_id WHERE Author.h_index > 1 GROUP BY Orgnization_Researchers.affiliation_name}\nA: {for each affiliation, how many researchers whose h_index greater than 1 belongs to it?}\n\nQ: {For each Tax_n_Surs, report the Tax_n_Surs, the number of Stk_Name and the total number of records with that Tax_n_Surs.}\n{SELECT Income_Statement.Tax_n_Surs , count(DISTINCT Basic_Info.Stk_Name) , count(*) FROM Basic_Info JOIN Income_Statement ON Basic_Info.Stk_Code = Income_Statement.Stk_Code GROUP BY Income_Statement.Tax_n_Surs}\nA: {i want to know how many records and different company names do we have for each taxes and surcharges value, along with the value itself.}\n\nQ: {Show DisplayName of any records in which pdf equals //static.aminer.org/pdf/PDF/001/011/809/.pdf}\n{SELECT Venue.DisplayName FROM Paper JOIN Venue_Papers ON Paper.id = Venue_Papers.paper_id JOIN Venue ON Venue_Papers.venue_id = Venue.id WHERE Paper.pdf = \'//static.aminer.org/pdf/PDF/001/011/809/.pdf\'}\nA: {give me name of the conferenece if anyone of its paper have pdf link same as //static.aminer.org/pdf/PDF/001/011/809/.pdf}\n\nQ: {Count how many records that either have a Stk_Name of China Everbright Bank or a Cash_Pay_Invest of 1056100000000.0.}\n{SELECT count(*) FROM Basic_Info JOIN Cash_Flow_Statement ON Basic_Info.Stk_Code = Cash_Flow_Statement.Stk_Code WHERE Basic_Info.Stk_Name = "China Everbright Bank" OR Cash_Flow_Statement.Cash_Pay_Invest = 1056100000000.0 }\nA: {hoy many records belong to China Everbright Bank or thier cash paid for investment is exactly 1056100000000.0?}\n\nQ: {Report all information about records with h_index between 3 and 6 for which affiliation_name is M. D. Anderson Cancer Center, Houston, TX.}\n{SELECT * FROM Author JOIN Orgnization_Researchers ON Author.id = Orgnization_Researchers.author_id JOIN Affiliation ON Orgnization_Researchers.affiliation_name = Affiliation.DisplayName WHERE Author.h_index BETWEEN 3 AND 6 AND Orgnization_Researchers.affiliation_name = \\"M. D. Anderson Cancer Center, Houston, TX\\"}\nA: {report all the researcher that belongs to \'M. D. Anderson Cancer Center, Houston, TX.\' and have a h-index between 3 and 6.}\n\nQ: {What are the 3 Stk_Name in records with highest values of Acc_Deposits}\n{SELECT Basic_Info.Stk_Name FROM Basic_Info JOIN Balance_Sheet ON Basic_Info.Stk_Code = Balance_Sheet.Stk_Code ORDER BY Balance_Sheet.Acc_Deposits DESC LIMIT 3}\nA: {witch three companies have the most deposit absorption?}\n\nQ: {What are the DisplayName of records published before 1990?}\n{SELECT Venue.DisplayName FROM Paper JOIN Venue_Papers ON Paper.id = Venue_Papers.paper_id JOIN Venue ON Venue_Papers.venue_id = Venue.id WHERE Paper.year < 1990}\nA: {what are the names of venue that have papers published before 1990?}\n\nQ: {Give the distinct Tot_Liab_Own_Eq for all records in the database.}\n{SELECT distinct(Tot_Liab_Own_Eq) FROM Balance_Sheet}\nA: {return the distinct value of total liabilities and owner\'s equity in our data.}\n\nQ: {what are the two paper_id of highest rank?}\n{SELECT paper_id FROM Paper_Authors ORDER BY rank DESC LIMIT 2}\nA:'}], 'temperature': 0.5}

 20%|██        | 2/10 [00:04<00:18,  2.34s/it]

what are the two paper_id of highest rank?
{which two papers have the highest rank?}
{'model': 'gpt-3.5-turbo-16k', 'messages': [{'role': 'user', 'content': '[Task Description]\nYou have a SQLite database. Based on the Schema(with useful comments on columns), you generated plentiful question-query pairs with template, whose readability is terrible. Now, given a question-query pair, you are asked to rewrite the question to enhance its readability with the help of comments in Schema.\n\n[Schema]\n{CREATE TABLE Venue(\n  id TEXT, -- id\n  DisplayName TEXT, -- name of the conferenece/joural\n  PRIMARY KEY (id)\n)\n\nCREATE TABLE Affiliation(\n  id TEXT, -- id\n  DisplayName TEXT, -- name of the orgnization\n  type TEXT, -- orgnization type\n  url TEXT, -- link of the orgnization\'s homepage\n  PRIMARY KEY (id)\n)\n\nCREATE TABLE Author(\n  id TEXT, -- id\n  name TEXT, -- name\n  org TEXT, -- author\'s current orgnization\n  position TEXT, -- position\n  n_pubs INTEGER, -- number of paper publication\n  n_citation INTEGER, -- number of total citation\n  h_index INTEGER, -- h-index\n  PRIMARY KEY (id)\n)\n\nCREATE TABLE Paper(\n  id TEXT, -- id\n  title TEXT, -- title\n  year INTEGER, -- publication year\n  n_citation INTEGER, -- number of citation\n  page_start TEXT, -- start page on the publication\n  page_end TEXT, -- end page on the publication\n  lang TEXT, -- language\n  volume TEXT, -- volume of the publicaiton\n  doi TEXT, -- digital object unique identifier\n  pdf TEXT, -- pdf view link of the paper\n  abstract TEXT, -- paper abstract\n  PRIMARY KEY (id)\n)\n\nCREATE TABLE Venue_Papers(\n  venue_id TEXT, -- venue_id\n  paper_id TEXT, -- paper_id\n  FOREIGN KEY (venue_id) REFERENCES Venue(id),\n  FOREIGN KEY (paper_id) REFERENCES Paper(id)\n)\n\nCREATE TABLE Paper_Keywords(\n  paper_id TEXT, -- paper_id\n  keyword TEXT, -- a keyword of the paper\n  FOREIGN KEY (paper_id) REFERENCES Paper(id) \n)\n\nCREATE TABLE Paper_Authors(\n  paper_id TEXT, -- paper_id\n  rank INTEGER, -- this author\'s rank\n  author_id TEXT, -- author_id\n  FOREIGN KEY (paper_id) REFERENCES Paper(id),\n  FOREIGN KEY (author_id) REFERENCES Author(id) \n)\n\nCREATE TABLE Orgnization_Researchers(\n  affiliation_name TEXT, -- name of affiliation that this researcher once belonged to\n  author_id TEXT, -- author_id\n  FOREIGN KEY (author_id) REFERENCES Author(id)\n)\n\nCREATE TABLE Researcher_Interests(\n  author_id TEXT, -- author_id\n  tag Text, -- research interest\n  weight INTEGER, -- weight of this interest\n  FOREIGN KEY (author_id) REFERENCES Author(id)\n)\n\n}\n\n[Solution]\n\nQ: {How many distinct position are there with tag is high resolution?}\n{SELECT COUNT(DISTINCT Author.position) FROM Author JOIN Researcher_Interests ON Author.id = Researcher_Interests.author_id WHERE Researcher_Interests.tag = "high resolution"}\nA: {how may different academic positions are there in researchers who have an interest in "high resolution"?}\n\nQ: {Select the three Debt_Converted_Capital with the biggest Cash_Eq_End_Period from records}\n{SELECT Debt_Converted_Capital FROM Cash_Flow_Statement ORDER BY Cash_Eq_End_Period DESC LIMIT 3}\nA: {find me capital converted from debt with top3 cash equivalents closing balance.}\n\nQ: {What is the page_end of the records with a keyword of \'electric vehicle\' or \'Renmin Univ\'?}\n{SELECT Paper.page_end FROM Paper JOIN Paper_Keywords ON Paper.id = Paper_Keywords.paper_id WHERE Paper_Keywords.keyword = \'electric vehicle\' OR Paper_Keywords.keyword = \'Renmin Univ\'}\nA: {For papers having keyword \'electric vehicle\' or \'Renmin Univ\', what are theirs end page on the publicaiton?}\n\nQ: {What is the average Fix_Assets of records grouped by Stk_Name?}\n{SELECT avg(Balance_Sheet.Fix_Assets) , Basic_Info.Stk_Name FROM Basic_Info JOIN Balance_Sheet ON Basic_Info.Stk_Code = Balance_Sheet.Stk_Code GROUP BY Basic_Info.Stk_Name}\nA: {find out the average fixed assets of each stock.}\n\nQ: {Find the number of records with a h_index of more than 1 for each affiliation_name}\n{SELECT count(*) , Orgnization_Researchers.affiliation_name FROM Author JOIN Orgnization_Researchers ON Author.id = Orgnization_Researchers.author_id WHERE Author.h_index > 1 GROUP BY Orgnization_Researchers.affiliation_name}\nA: {for each affiliation, how many researchers whose h_index greater than 1 belongs to it?}\n\nQ: {For each Tax_n_Surs, report the Tax_n_Surs, the number of Stk_Name and the total number of records with that Tax_n_Surs.}\n{SELECT Income_Statement.Tax_n_Surs , count(DISTINCT Basic_Info.Stk_Name) , count(*) FROM Basic_Info JOIN Income_Statement ON Basic_Info.Stk_Code = Income_Statement.Stk_Code GROUP BY Income_Statement.Tax_n_Surs}\nA: {i want to know how many records and different company names do we have for each taxes and surcharges value, along with the value itself.}\n\nQ: {Show DisplayName of any records in which pdf equals //static.aminer.org/pdf/PDF/001/011/809/.pdf}\n{SELECT Venue.DisplayName FROM Paper JOIN Venue_Papers ON Paper.id = Venue_Papers.paper_id JOIN Venue ON Venue_Papers.venue_id = Venue.id WHERE Paper.pdf = \'//static.aminer.org/pdf/PDF/001/011/809/.pdf\'}\nA: {give me name of the conferenece if anyone of its paper have pdf link same as //static.aminer.org/pdf/PDF/001/011/809/.pdf}\n\nQ: {Count how many records that either have a Stk_Name of China Everbright Bank or a Cash_Pay_Invest of 1056100000000.0.}\n{SELECT count(*) FROM Basic_Info JOIN Cash_Flow_Statement ON Basic_Info.Stk_Code = Cash_Flow_Statement.Stk_Code WHERE Basic_Info.Stk_Name = "China Everbright Bank" OR Cash_Flow_Statement.Cash_Pay_Invest = 1056100000000.0 }\nA: {hoy many records belong to China Everbright Bank or thier cash paid for investment is exactly 1056100000000.0?}\n\nQ: {Report all information about records with h_index between 3 and 6 for which affiliation_name is M. D. Anderson Cancer Center, Houston, TX.}\n{SELECT * FROM Author JOIN Orgnization_Researchers ON Author.id = Orgnization_Researchers.author_id JOIN Affiliation ON Orgnization_Researchers.affiliation_name = Affiliation.DisplayName WHERE Author.h_index BETWEEN 3 AND 6 AND Orgnization_Researchers.affiliation_name = \\"M. D. Anderson Cancer Center, Houston, TX\\"}\nA: {report all the researcher that belongs to \'M. D. Anderson Cancer Center, Houston, TX.\' and have a h-index between 3 and 6.}\n\nQ: {What are the 3 Stk_Name in records with highest values of Acc_Deposits}\n{SELECT Basic_Info.Stk_Name FROM Basic_Info JOIN Balance_Sheet ON Basic_Info.Stk_Code = Balance_Sheet.Stk_Code ORDER BY Balance_Sheet.Acc_Deposits DESC LIMIT 3}\nA: {witch three companies have the most deposit absorption?}\n\nQ: {What are the DisplayName of records published before 1990?}\n{SELECT Venue.DisplayName FROM Paper JOIN Venue_Papers ON Paper.id = Venue_Papers.paper_id JOIN Venue ON Venue_Papers.venue_id = Venue.id WHERE Paper.year < 1990}\nA: {what are the names of venue that have papers published before 1990?}\n\nQ: {Give the distinct Tot_Liab_Own_Eq for all records in the database.}\n{SELECT distinct(Tot_Liab_Own_Eq) FROM Balance_Sheet}\nA: {return the distinct value of total liabilities and owner\'s equity in our data.}\n\nQ: {show the type with showing up fewer than 40 times.}\n{SELECT type FROM Affiliation GROUP BY type HAVING COUNT (*) < 40}\nA:'}], 'temperature': 0.5}

 30%|███       | 3/10 [00:06<00:15,  2.25s/it]

show the type with showing up fewer than 40 times.
{show me the types of organizations that appear less than 40 times in the database.}
{'model': 'gpt-3.5-turbo-16k', 'messages': [{'role': 'user', 'content': '[Task Description]\nYou have a SQLite database. Based on the Schema(with useful comments on columns), you generated plentiful question-query pairs with template, whose readability is terrible. Now, given a question-query pair, you are asked to rewrite the question to enhance its readability with the help of comments in Schema.\n\n[Schema]\n{CREATE TABLE Venue(\n  id TEXT, -- id\n  DisplayName TEXT, -- name of the conferenece/joural\n  PRIMARY KEY (id)\n)\n\nCREATE TABLE Affiliation(\n  id TEXT, -- id\n  DisplayName TEXT, -- name of the orgnization\n  type TEXT, -- orgnization type\n  url TEXT, -- link of the orgnization\'s homepage\n  PRIMARY KEY (id)\n)\n\nCREATE TABLE Author(\n  id TEXT, -- id\n  name TEXT, -- name\n  org TEXT, -- author\'s current orgnization\n  position TEXT, -- position\n  n_pubs INTEGER, -- number of paper publication\n  n_citation INTEGER, -- number of total citation\n  h_index INTEGER, -- h-index\n  PRIMARY KEY (id)\n)\n\nCREATE TABLE Paper(\n  id TEXT, -- id\n  title TEXT, -- title\n  year INTEGER, -- publication year\n  n_citation INTEGER, -- number of citation\n  page_start TEXT, -- start page on the publication\n  page_end TEXT, -- end page on the publication\n  lang TEXT, -- language\n  volume TEXT, -- volume of the publicaiton\n  doi TEXT, -- digital object unique identifier\n  pdf TEXT, -- pdf view link of the paper\n  abstract TEXT, -- paper abstract\n  PRIMARY KEY (id)\n)\n\nCREATE TABLE Venue_Papers(\n  venue_id TEXT, -- venue_id\n  paper_id TEXT, -- paper_id\n  FOREIGN KEY (venue_id) REFERENCES Venue(id),\n  FOREIGN KEY (paper_id) REFERENCES Paper(id)\n)\n\nCREATE TABLE Paper_Keywords(\n  paper_id TEXT, -- paper_id\n  keyword TEXT, -- a keyword of the paper\n  FOREIGN KEY (paper_id) REFERENCES Paper(id) \n)\n\nCREATE TABLE Paper_Authors(\n  paper_id TEXT, -- paper_id\n  rank INTEGER, -- this author\'s rank\n  author_id TEXT, -- author_id\n  FOREIGN KEY (paper_id) REFERENCES Paper(id),\n  FOREIGN KEY (author_id) REFERENCES Author(id) \n)\n\nCREATE TABLE Orgnization_Researchers(\n  affiliation_name TEXT, -- name of affiliation that this researcher once belonged to\n  author_id TEXT, -- author_id\n  FOREIGN KEY (author_id) REFERENCES Author(id)\n)\n\nCREATE TABLE Researcher_Interests(\n  author_id TEXT, -- author_id\n  tag Text, -- research interest\n  weight INTEGER, -- weight of this interest\n  FOREIGN KEY (author_id) REFERENCES Author(id)\n)\n\n}\n\n[Solution]\n\nQ: {How many distinct position are there with tag is high resolution?}\n{SELECT COUNT(DISTINCT Author.position) FROM Author JOIN Researcher_Interests ON Author.id = Researcher_Interests.author_id WHERE Researcher_Interests.tag = "high resolution"}\nA: {how may different academic positions are there in researchers who have an interest in "high resolution"?}\n\nQ: {Select the three Debt_Converted_Capital with the biggest Cash_Eq_End_Period from records}\n{SELECT Debt_Converted_Capital FROM Cash_Flow_Statement ORDER BY Cash_Eq_End_Period DESC LIMIT 3}\nA: {find me capital converted from debt with top3 cash equivalents closing balance.}\n\nQ: {What is the page_end of the records with a keyword of \'electric vehicle\' or \'Renmin Univ\'?}\n{SELECT Paper.page_end FROM Paper JOIN Paper_Keywords ON Paper.id = Paper_Keywords.paper_id WHERE Paper_Keywords.keyword = \'electric vehicle\' OR Paper_Keywords.keyword = \'Renmin Univ\'}\nA: {For papers having keyword \'electric vehicle\' or \'Renmin Univ\', what are theirs end page on the publicaiton?}\n\nQ: {What is the average Fix_Assets of records grouped by Stk_Name?}\n{SELECT avg(Balance_Sheet.Fix_Assets) , Basic_Info.Stk_Name FROM Basic_Info JOIN Balance_Sheet ON Basic_Info.Stk_Code = Balance_Sheet.Stk_Code GROUP BY Basic_Info.Stk_Name}\nA: {find out the average fixed assets of each stock.}\n\nQ: {Find the number of records with a h_index of more than 1 for each affiliation_name}\n{SELECT count(*) , Orgnization_Researchers.affiliation_name FROM Author JOIN Orgnization_Researchers ON Author.id = Orgnization_Researchers.author_id WHERE Author.h_index > 1 GROUP BY Orgnization_Researchers.affiliation_name}\nA: {for each affiliation, how many researchers whose h_index greater than 1 belongs to it?}\n\nQ: {For each Tax_n_Surs, report the Tax_n_Surs, the number of Stk_Name and the total number of records with that Tax_n_Surs.}\n{SELECT Income_Statement.Tax_n_Surs , count(DISTINCT Basic_Info.Stk_Name) , count(*) FROM Basic_Info JOIN Income_Statement ON Basic_Info.Stk_Code = Income_Statement.Stk_Code GROUP BY Income_Statement.Tax_n_Surs}\nA: {i want to know how many records and different company names do we have for each taxes and surcharges value, along with the value itself.}\n\nQ: {Show DisplayName of any records in which pdf equals //static.aminer.org/pdf/PDF/001/011/809/.pdf}\n{SELECT Venue.DisplayName FROM Paper JOIN Venue_Papers ON Paper.id = Venue_Papers.paper_id JOIN Venue ON Venue_Papers.venue_id = Venue.id WHERE Paper.pdf = \'//static.aminer.org/pdf/PDF/001/011/809/.pdf\'}\nA: {give me name of the conferenece if anyone of its paper have pdf link same as //static.aminer.org/pdf/PDF/001/011/809/.pdf}\n\nQ: {Count how many records that either have a Stk_Name of China Everbright Bank or a Cash_Pay_Invest of 1056100000000.0.}\n{SELECT count(*) FROM Basic_Info JOIN Cash_Flow_Statement ON Basic_Info.Stk_Code = Cash_Flow_Statement.Stk_Code WHERE Basic_Info.Stk_Name = "China Everbright Bank" OR Cash_Flow_Statement.Cash_Pay_Invest = 1056100000000.0 }\nA: {hoy many records belong to China Everbright Bank or thier cash paid for investment is exactly 1056100000000.0?}\n\nQ: {Report all information about records with h_index between 3 and 6 for which affiliation_name is M. D. Anderson Cancer Center, Houston, TX.}\n{SELECT * FROM Author JOIN Orgnization_Researchers ON Author.id = Orgnization_Researchers.author_id JOIN Affiliation ON Orgnization_Researchers.affiliation_name = Affiliation.DisplayName WHERE Author.h_index BETWEEN 3 AND 6 AND Orgnization_Researchers.affiliation_name = \\"M. D. Anderson Cancer Center, Houston, TX\\"}\nA: {report all the researcher that belongs to \'M. D. Anderson Cancer Center, Houston, TX.\' and have a h-index between 3 and 6.}\n\nQ: {What are the 3 Stk_Name in records with highest values of Acc_Deposits}\n{SELECT Basic_Info.Stk_Name FROM Basic_Info JOIN Balance_Sheet ON Basic_Info.Stk_Code = Balance_Sheet.Stk_Code ORDER BY Balance_Sheet.Acc_Deposits DESC LIMIT 3}\nA: {witch three companies have the most deposit absorption?}\n\nQ: {What are the DisplayName of records published before 1990?}\n{SELECT Venue.DisplayName FROM Paper JOIN Venue_Papers ON Paper.id = Venue_Papers.paper_id JOIN Venue ON Venue_Papers.venue_id = Venue.id WHERE Paper.year < 1990}\nA: {what are the names of venue that have papers published before 1990?}\n\nQ: {Give the distinct Tot_Liab_Own_Eq for all records in the database.}\n{SELECT distinct(Tot_Liab_Own_Eq) FROM Balance_Sheet}\nA: {return the distinct value of total liabilities and owner\'s equity in our data.}\n\nQ: {How many Researcher_Interests has a weight of more than 1 and a tag is visualization?}\n{SELECT COUNT (*) FROM Researcher_Interests WHERE weight > 1 AND tag = "visualization"}\nA:'}], 'temperature': 0.5}

 40%|████      | 4/10 [00:08<00:12,  2.05s/it]

How many Researcher_Interests has a weight of more than 1 and a tag is visualization?
{how many researchers have an interest in visualization with a weight greater than 1?}
{'model': 'gpt-3.5-turbo-16k', 'messages': [{'role': 'user', 'content': '[Task Description]\nYou have a SQLite database. Based on the Schema(with useful comments on columns), you generated plentiful question-query pairs with template, whose readability is terrible. Now, given a question-query pair, you are asked to rewrite the question to enhance its readability with the help of comments in Schema.\n\n[Schema]\n{CREATE TABLE Venue(\n  id TEXT, -- id\n  DisplayName TEXT, -- name of the conferenece/joural\n  PRIMARY KEY (id)\n)\n\nCREATE TABLE Affiliation(\n  id TEXT, -- id\n  DisplayName TEXT, -- name of the orgnization\n  type TEXT, -- orgnization type\n  url TEXT, -- link of the orgnization\'s homepage\n  PRIMARY KEY (id)\n)\n\nCREATE TABLE Author(\n  id TEXT, -- id\n  name TEXT, -- name\n  org TEXT, -- author\'s current orgnization\n  position TEXT, -- position\n  n_pubs INTEGER, -- number of paper publication\n  n_citation INTEGER, -- number of total citation\n  h_index INTEGER, -- h-index\n  PRIMARY KEY (id)\n)\n\nCREATE TABLE Paper(\n  id TEXT, -- id\n  title TEXT, -- title\n  year INTEGER, -- publication year\n  n_citation INTEGER, -- number of citation\n  page_start TEXT, -- start page on the publication\n  page_end TEXT, -- end page on the publication\n  lang TEXT, -- language\n  volume TEXT, -- volume of the publicaiton\n  doi TEXT, -- digital object unique identifier\n  pdf TEXT, -- pdf view link of the paper\n  abstract TEXT, -- paper abstract\n  PRIMARY KEY (id)\n)\n\nCREATE TABLE Venue_Papers(\n  venue_id TEXT, -- venue_id\n  paper_id TEXT, -- paper_id\n  FOREIGN KEY (venue_id) REFERENCES Venue(id),\n  FOREIGN KEY (paper_id) REFERENCES Paper(id)\n)\n\nCREATE TABLE Paper_Keywords(\n  paper_id TEXT, -- paper_id\n  keyword TEXT, -- a keyword of the paper\n  FOREIGN KEY (paper_id) REFERENCES Paper(id) \n)\n\nCREATE TABLE Paper_Authors(\n  paper_id TEXT, -- paper_id\n  rank INTEGER, -- this author\'s rank\n  author_id TEXT, -- author_id\n  FOREIGN KEY (paper_id) REFERENCES Paper(id),\n  FOREIGN KEY (author_id) REFERENCES Author(id) \n)\n\nCREATE TABLE Orgnization_Researchers(\n  affiliation_name TEXT, -- name of affiliation that this researcher once belonged to\n  author_id TEXT, -- author_id\n  FOREIGN KEY (author_id) REFERENCES Author(id)\n)\n\nCREATE TABLE Researcher_Interests(\n  author_id TEXT, -- author_id\n  tag Text, -- research interest\n  weight INTEGER, -- weight of this interest\n  FOREIGN KEY (author_id) REFERENCES Author(id)\n)\n\n}\n\n[Solution]\n\nQ: {How many distinct position are there with tag is high resolution?}\n{SELECT COUNT(DISTINCT Author.position) FROM Author JOIN Researcher_Interests ON Author.id = Researcher_Interests.author_id WHERE Researcher_Interests.tag = "high resolution"}\nA: {how may different academic positions are there in researchers who have an interest in "high resolution"?}\n\nQ: {Select the three Debt_Converted_Capital with the biggest Cash_Eq_End_Period from records}\n{SELECT Debt_Converted_Capital FROM Cash_Flow_Statement ORDER BY Cash_Eq_End_Period DESC LIMIT 3}\nA: {find me capital converted from debt with top3 cash equivalents closing balance.}\n\nQ: {What is the page_end of the records with a keyword of \'electric vehicle\' or \'Renmin Univ\'?}\n{SELECT Paper.page_end FROM Paper JOIN Paper_Keywords ON Paper.id = Paper_Keywords.paper_id WHERE Paper_Keywords.keyword = \'electric vehicle\' OR Paper_Keywords.keyword = \'Renmin Univ\'}\nA: {For papers having keyword \'electric vehicle\' or \'Renmin Univ\', what are theirs end page on the publicaiton?}\n\nQ: {What is the average Fix_Assets of records grouped by Stk_Name?}\n{SELECT avg(Balance_Sheet.Fix_Assets) , Basic_Info.Stk_Name FROM Basic_Info JOIN Balance_Sheet ON Basic_Info.Stk_Code = Balance_Sheet.Stk_Code GROUP BY Basic_Info.Stk_Name}\nA: {find out the average fixed assets of each stock.}\n\nQ: {Find the number of records with a h_index of more than 1 for each affiliation_name}\n{SELECT count(*) , Orgnization_Researchers.affiliation_name FROM Author JOIN Orgnization_Researchers ON Author.id = Orgnization_Researchers.author_id WHERE Author.h_index > 1 GROUP BY Orgnization_Researchers.affiliation_name}\nA: {for each affiliation, how many researchers whose h_index greater than 1 belongs to it?}\n\nQ: {For each Tax_n_Surs, report the Tax_n_Surs, the number of Stk_Name and the total number of records with that Tax_n_Surs.}\n{SELECT Income_Statement.Tax_n_Surs , count(DISTINCT Basic_Info.Stk_Name) , count(*) FROM Basic_Info JOIN Income_Statement ON Basic_Info.Stk_Code = Income_Statement.Stk_Code GROUP BY Income_Statement.Tax_n_Surs}\nA: {i want to know how many records and different company names do we have for each taxes and surcharges value, along with the value itself.}\n\nQ: {Show DisplayName of any records in which pdf equals //static.aminer.org/pdf/PDF/001/011/809/.pdf}\n{SELECT Venue.DisplayName FROM Paper JOIN Venue_Papers ON Paper.id = Venue_Papers.paper_id JOIN Venue ON Venue_Papers.venue_id = Venue.id WHERE Paper.pdf = \'//static.aminer.org/pdf/PDF/001/011/809/.pdf\'}\nA: {give me name of the conferenece if anyone of its paper have pdf link same as //static.aminer.org/pdf/PDF/001/011/809/.pdf}\n\nQ: {Count how many records that either have a Stk_Name of China Everbright Bank or a Cash_Pay_Invest of 1056100000000.0.}\n{SELECT count(*) FROM Basic_Info JOIN Cash_Flow_Statement ON Basic_Info.Stk_Code = Cash_Flow_Statement.Stk_Code WHERE Basic_Info.Stk_Name = "China Everbright Bank" OR Cash_Flow_Statement.Cash_Pay_Invest = 1056100000000.0 }\nA: {hoy many records belong to China Everbright Bank or thier cash paid for investment is exactly 1056100000000.0?}\n\nQ: {Report all information about records with h_index between 3 and 6 for which affiliation_name is M. D. Anderson Cancer Center, Houston, TX.}\n{SELECT * FROM Author JOIN Orgnization_Researchers ON Author.id = Orgnization_Researchers.author_id JOIN Affiliation ON Orgnization_Researchers.affiliation_name = Affiliation.DisplayName WHERE Author.h_index BETWEEN 3 AND 6 AND Orgnization_Researchers.affiliation_name = \\"M. D. Anderson Cancer Center, Houston, TX\\"}\nA: {report all the researcher that belongs to \'M. D. Anderson Cancer Center, Houston, TX.\' and have a h-index between 3 and 6.}\n\nQ: {What are the 3 Stk_Name in records with highest values of Acc_Deposits}\n{SELECT Basic_Info.Stk_Name FROM Basic_Info JOIN Balance_Sheet ON Basic_Info.Stk_Code = Balance_Sheet.Stk_Code ORDER BY Balance_Sheet.Acc_Deposits DESC LIMIT 3}\nA: {witch three companies have the most deposit absorption?}\n\nQ: {What are the DisplayName of records published before 1990?}\n{SELECT Venue.DisplayName FROM Paper JOIN Venue_Papers ON Paper.id = Venue_Papers.paper_id JOIN Venue ON Venue_Papers.venue_id = Venue.id WHERE Paper.year < 1990}\nA: {what are the names of venue that have papers published before 1990?}\n\nQ: {Give the distinct Tot_Liab_Own_Eq for all records in the database.}\n{SELECT distinct(Tot_Liab_Own_Eq) FROM Balance_Sheet}\nA: {return the distinct value of total liabilities and owner\'s equity in our data.}\n\nQ: {what is the position and id of the Author with the top 5 smallest n_citation ?}\n{SELECT position , id FROM Author ORDER BY n_citation LIMIT 5}\nA:'}], 'temperature': 0.5}

 50%|█████     | 5/10 [00:10<00:10,  2.17s/it]

what is the position and id of the Author with the top 5 smallest n_citation ?
{what is the position and id of the top 5 authors with the fewest number of citations?}
{'model': 'gpt-3.5-turbo-16k', 'messages': [{'role': 'user', 'content': '[Task Description]\nYou have a SQLite database. Based on the Schema(with useful comments on columns), you generated plentiful question-query pairs with template, whose readability is terrible. Now, given a question-query pair, you are asked to rewrite the question to enhance its readability with the help of comments in Schema.\n\n[Schema]\n{CREATE TABLE Venue(\n  id TEXT, -- id\n  DisplayName TEXT, -- name of the conferenece/joural\n  PRIMARY KEY (id)\n)\n\nCREATE TABLE Affiliation(\n  id TEXT, -- id\n  DisplayName TEXT, -- name of the orgnization\n  type TEXT, -- orgnization type\n  url TEXT, -- link of the orgnization\'s homepage\n  PRIMARY KEY (id)\n)\n\nCREATE TABLE Author(\n  id TEXT, -- id\n  name TEXT, -- name\n  org TEXT, -- author\'s current orgnization\n  position TEXT, -- position\n  n_pubs INTEGER, -- number of paper publication\n  n_citation INTEGER, -- number of total citation\n  h_index INTEGER, -- h-index\n  PRIMARY KEY (id)\n)\n\nCREATE TABLE Paper(\n  id TEXT, -- id\n  title TEXT, -- title\n  year INTEGER, -- publication year\n  n_citation INTEGER, -- number of citation\n  page_start TEXT, -- start page on the publication\n  page_end TEXT, -- end page on the publication\n  lang TEXT, -- language\n  volume TEXT, -- volume of the publicaiton\n  doi TEXT, -- digital object unique identifier\n  pdf TEXT, -- pdf view link of the paper\n  abstract TEXT, -- paper abstract\n  PRIMARY KEY (id)\n)\n\nCREATE TABLE Venue_Papers(\n  venue_id TEXT, -- venue_id\n  paper_id TEXT, -- paper_id\n  FOREIGN KEY (venue_id) REFERENCES Venue(id),\n  FOREIGN KEY (paper_id) REFERENCES Paper(id)\n)\n\nCREATE TABLE Paper_Keywords(\n  paper_id TEXT, -- paper_id\n  keyword TEXT, -- a keyword of the paper\n  FOREIGN KEY (paper_id) REFERENCES Paper(id) \n)\n\nCREATE TABLE Paper_Authors(\n  paper_id TEXT, -- paper_id\n  rank INTEGER, -- this author\'s rank\n  author_id TEXT, -- author_id\n  FOREIGN KEY (paper_id) REFERENCES Paper(id),\n  FOREIGN KEY (author_id) REFERENCES Author(id) \n)\n\nCREATE TABLE Orgnization_Researchers(\n  affiliation_name TEXT, -- name of affiliation that this researcher once belonged to\n  author_id TEXT, -- author_id\n  FOREIGN KEY (author_id) REFERENCES Author(id)\n)\n\nCREATE TABLE Researcher_Interests(\n  author_id TEXT, -- author_id\n  tag Text, -- research interest\n  weight INTEGER, -- weight of this interest\n  FOREIGN KEY (author_id) REFERENCES Author(id)\n)\n\n}\n\n[Solution]\n\nQ: {How many distinct position are there with tag is high resolution?}\n{SELECT COUNT(DISTINCT Author.position) FROM Author JOIN Researcher_Interests ON Author.id = Researcher_Interests.author_id WHERE Researcher_Interests.tag = "high resolution"}\nA: {how may different academic positions are there in researchers who have an interest in "high resolution"?}\n\nQ: {Select the three Debt_Converted_Capital with the biggest Cash_Eq_End_Period from records}\n{SELECT Debt_Converted_Capital FROM Cash_Flow_Statement ORDER BY Cash_Eq_End_Period DESC LIMIT 3}\nA: {find me capital converted from debt with top3 cash equivalents closing balance.}\n\nQ: {What is the page_end of the records with a keyword of \'electric vehicle\' or \'Renmin Univ\'?}\n{SELECT Paper.page_end FROM Paper JOIN Paper_Keywords ON Paper.id = Paper_Keywords.paper_id WHERE Paper_Keywords.keyword = \'electric vehicle\' OR Paper_Keywords.keyword = \'Renmin Univ\'}\nA: {For papers having keyword \'electric vehicle\' or \'Renmin Univ\', what are theirs end page on the publicaiton?}\n\nQ: {What is the average Fix_Assets of records grouped by Stk_Name?}\n{SELECT avg(Balance_Sheet.Fix_Assets) , Basic_Info.Stk_Name FROM Basic_Info JOIN Balance_Sheet ON Basic_Info.Stk_Code = Balance_Sheet.Stk_Code GROUP BY Basic_Info.Stk_Name}\nA: {find out the average fixed assets of each stock.}\n\nQ: {Find the number of records with a h_index of more than 1 for each affiliation_name}\n{SELECT count(*) , Orgnization_Researchers.affiliation_name FROM Author JOIN Orgnization_Researchers ON Author.id = Orgnization_Researchers.author_id WHERE Author.h_index > 1 GROUP BY Orgnization_Researchers.affiliation_name}\nA: {for each affiliation, how many researchers whose h_index greater than 1 belongs to it?}\n\nQ: {For each Tax_n_Surs, report the Tax_n_Surs, the number of Stk_Name and the total number of records with that Tax_n_Surs.}\n{SELECT Income_Statement.Tax_n_Surs , count(DISTINCT Basic_Info.Stk_Name) , count(*) FROM Basic_Info JOIN Income_Statement ON Basic_Info.Stk_Code = Income_Statement.Stk_Code GROUP BY Income_Statement.Tax_n_Surs}\nA: {i want to know how many records and different company names do we have for each taxes and surcharges value, along with the value itself.}\n\nQ: {Show DisplayName of any records in which pdf equals //static.aminer.org/pdf/PDF/001/011/809/.pdf}\n{SELECT Venue.DisplayName FROM Paper JOIN Venue_Papers ON Paper.id = Venue_Papers.paper_id JOIN Venue ON Venue_Papers.venue_id = Venue.id WHERE Paper.pdf = \'//static.aminer.org/pdf/PDF/001/011/809/.pdf\'}\nA: {give me name of the conferenece if anyone of its paper have pdf link same as //static.aminer.org/pdf/PDF/001/011/809/.pdf}\n\nQ: {Count how many records that either have a Stk_Name of China Everbright Bank or a Cash_Pay_Invest of 1056100000000.0.}\n{SELECT count(*) FROM Basic_Info JOIN Cash_Flow_Statement ON Basic_Info.Stk_Code = Cash_Flow_Statement.Stk_Code WHERE Basic_Info.Stk_Name = "China Everbright Bank" OR Cash_Flow_Statement.Cash_Pay_Invest = 1056100000000.0 }\nA: {hoy many records belong to China Everbright Bank or thier cash paid for investment is exactly 1056100000000.0?}\n\nQ: {Report all information about records with h_index between 3 and 6 for which affiliation_name is M. D. Anderson Cancer Center, Houston, TX.}\n{SELECT * FROM Author JOIN Orgnization_Researchers ON Author.id = Orgnization_Researchers.author_id JOIN Affiliation ON Orgnization_Researchers.affiliation_name = Affiliation.DisplayName WHERE Author.h_index BETWEEN 3 AND 6 AND Orgnization_Researchers.affiliation_name = \\"M. D. Anderson Cancer Center, Houston, TX\\"}\nA: {report all the researcher that belongs to \'M. D. Anderson Cancer Center, Houston, TX.\' and have a h-index between 3 and 6.}\n\nQ: {What are the 3 Stk_Name in records with highest values of Acc_Deposits}\n{SELECT Basic_Info.Stk_Name FROM Basic_Info JOIN Balance_Sheet ON Basic_Info.Stk_Code = Balance_Sheet.Stk_Code ORDER BY Balance_Sheet.Acc_Deposits DESC LIMIT 3}\nA: {witch three companies have the most deposit absorption?}\n\nQ: {What are the DisplayName of records published before 1990?}\n{SELECT Venue.DisplayName FROM Paper JOIN Venue_Papers ON Paper.id = Venue_Papers.paper_id JOIN Venue ON Venue_Papers.venue_id = Venue.id WHERE Paper.year < 1990}\nA: {what are the names of venue that have papers published before 1990?}\n\nQ: {Give the distinct Tot_Liab_Own_Eq for all records in the database.}\n{SELECT distinct(Tot_Liab_Own_Eq) FROM Balance_Sheet}\nA: {return the distinct value of total liabilities and owner\'s equity in our data.}\n\nQ: {What is the n_citation value that has the most occurance?}\n{SELECT n_citation FROM Paper GROUP BY n_citation ORDER BY count(*) DESC LIMIT 1}\nA:'}], 'temperature': 0.5}

 60%|██████    | 6/10 [00:13<00:10,  2.52s/it]

What is the n_citation value that has the most occurance?
{what is the number of citations that appears most frequently in our data?}
{'model': 'gpt-3.5-turbo-16k', 'messages': [{'role': 'user', 'content': '[Task Description]\nYou have a SQLite database. Based on the Schema(with useful comments on columns), you generated plentiful question-query pairs with template, whose readability is terrible. Now, given a question-query pair, you are asked to rewrite the question to enhance its readability with the help of comments in Schema.\n\n[Schema]\n{CREATE TABLE Venue(\n  id TEXT, -- id\n  DisplayName TEXT, -- name of the conferenece/joural\n  PRIMARY KEY (id)\n)\n\nCREATE TABLE Affiliation(\n  id TEXT, -- id\n  DisplayName TEXT, -- name of the orgnization\n  type TEXT, -- orgnization type\n  url TEXT, -- link of the orgnization\'s homepage\n  PRIMARY KEY (id)\n)\n\nCREATE TABLE Author(\n  id TEXT, -- id\n  name TEXT, -- name\n  org TEXT, -- author\'s current orgnization\n  position TEXT, -- position\n  n_pubs INTEGER, -- number of paper publication\n  n_citation INTEGER, -- number of total citation\n  h_index INTEGER, -- h-index\n  PRIMARY KEY (id)\n)\n\nCREATE TABLE Paper(\n  id TEXT, -- id\n  title TEXT, -- title\n  year INTEGER, -- publication year\n  n_citation INTEGER, -- number of citation\n  page_start TEXT, -- start page on the publication\n  page_end TEXT, -- end page on the publication\n  lang TEXT, -- language\n  volume TEXT, -- volume of the publicaiton\n  doi TEXT, -- digital object unique identifier\n  pdf TEXT, -- pdf view link of the paper\n  abstract TEXT, -- paper abstract\n  PRIMARY KEY (id)\n)\n\nCREATE TABLE Venue_Papers(\n  venue_id TEXT, -- venue_id\n  paper_id TEXT, -- paper_id\n  FOREIGN KEY (venue_id) REFERENCES Venue(id),\n  FOREIGN KEY (paper_id) REFERENCES Paper(id)\n)\n\nCREATE TABLE Paper_Keywords(\n  paper_id TEXT, -- paper_id\n  keyword TEXT, -- a keyword of the paper\n  FOREIGN KEY (paper_id) REFERENCES Paper(id) \n)\n\nCREATE TABLE Paper_Authors(\n  paper_id TEXT, -- paper_id\n  rank INTEGER, -- this author\'s rank\n  author_id TEXT, -- author_id\n  FOREIGN KEY (paper_id) REFERENCES Paper(id),\n  FOREIGN KEY (author_id) REFERENCES Author(id) \n)\n\nCREATE TABLE Orgnization_Researchers(\n  affiliation_name TEXT, -- name of affiliation that this researcher once belonged to\n  author_id TEXT, -- author_id\n  FOREIGN KEY (author_id) REFERENCES Author(id)\n)\n\nCREATE TABLE Researcher_Interests(\n  author_id TEXT, -- author_id\n  tag Text, -- research interest\n  weight INTEGER, -- weight of this interest\n  FOREIGN KEY (author_id) REFERENCES Author(id)\n)\n\n}\n\n[Solution]\n\nQ: {How many distinct position are there with tag is high resolution?}\n{SELECT COUNT(DISTINCT Author.position) FROM Author JOIN Researcher_Interests ON Author.id = Researcher_Interests.author_id WHERE Researcher_Interests.tag = "high resolution"}\nA: {how may different academic positions are there in researchers who have an interest in "high resolution"?}\n\nQ: {Select the three Debt_Converted_Capital with the biggest Cash_Eq_End_Period from records}\n{SELECT Debt_Converted_Capital FROM Cash_Flow_Statement ORDER BY Cash_Eq_End_Period DESC LIMIT 3}\nA: {find me capital converted from debt with top3 cash equivalents closing balance.}\n\nQ: {What is the page_end of the records with a keyword of \'electric vehicle\' or \'Renmin Univ\'?}\n{SELECT Paper.page_end FROM Paper JOIN Paper_Keywords ON Paper.id = Paper_Keywords.paper_id WHERE Paper_Keywords.keyword = \'electric vehicle\' OR Paper_Keywords.keyword = \'Renmin Univ\'}\nA: {For papers having keyword \'electric vehicle\' or \'Renmin Univ\', what are theirs end page on the publicaiton?}\n\nQ: {What is the average Fix_Assets of records grouped by Stk_Name?}\n{SELECT avg(Balance_Sheet.Fix_Assets) , Basic_Info.Stk_Name FROM Basic_Info JOIN Balance_Sheet ON Basic_Info.Stk_Code = Balance_Sheet.Stk_Code GROUP BY Basic_Info.Stk_Name}\nA: {find out the average fixed assets of each stock.}\n\nQ: {Find the number of records with a h_index of more than 1 for each affiliation_name}\n{SELECT count(*) , Orgnization_Researchers.affiliation_name FROM Author JOIN Orgnization_Researchers ON Author.id = Orgnization_Researchers.author_id WHERE Author.h_index > 1 GROUP BY Orgnization_Researchers.affiliation_name}\nA: {for each affiliation, how many researchers whose h_index greater than 1 belongs to it?}\n\nQ: {For each Tax_n_Surs, report the Tax_n_Surs, the number of Stk_Name and the total number of records with that Tax_n_Surs.}\n{SELECT Income_Statement.Tax_n_Surs , count(DISTINCT Basic_Info.Stk_Name) , count(*) FROM Basic_Info JOIN Income_Statement ON Basic_Info.Stk_Code = Income_Statement.Stk_Code GROUP BY Income_Statement.Tax_n_Surs}\nA: {i want to know how many records and different company names do we have for each taxes and surcharges value, along with the value itself.}\n\nQ: {Show DisplayName of any records in which pdf equals //static.aminer.org/pdf/PDF/001/011/809/.pdf}\n{SELECT Venue.DisplayName FROM Paper JOIN Venue_Papers ON Paper.id = Venue_Papers.paper_id JOIN Venue ON Venue_Papers.venue_id = Venue.id WHERE Paper.pdf = \'//static.aminer.org/pdf/PDF/001/011/809/.pdf\'}\nA: {give me name of the conferenece if anyone of its paper have pdf link same as //static.aminer.org/pdf/PDF/001/011/809/.pdf}\n\nQ: {Count how many records that either have a Stk_Name of China Everbright Bank or a Cash_Pay_Invest of 1056100000000.0.}\n{SELECT count(*) FROM Basic_Info JOIN Cash_Flow_Statement ON Basic_Info.Stk_Code = Cash_Flow_Statement.Stk_Code WHERE Basic_Info.Stk_Name = "China Everbright Bank" OR Cash_Flow_Statement.Cash_Pay_Invest = 1056100000000.0 }\nA: {hoy many records belong to China Everbright Bank or thier cash paid for investment is exactly 1056100000000.0?}\n\nQ: {Report all information about records with h_index between 3 and 6 for which affiliation_name is M. D. Anderson Cancer Center, Houston, TX.}\n{SELECT * FROM Author JOIN Orgnization_Researchers ON Author.id = Orgnization_Researchers.author_id JOIN Affiliation ON Orgnization_Researchers.affiliation_name = Affiliation.DisplayName WHERE Author.h_index BETWEEN 3 AND 6 AND Orgnization_Researchers.affiliation_name = \\"M. D. Anderson Cancer Center, Houston, TX\\"}\nA: {report all the researcher that belongs to \'M. D. Anderson Cancer Center, Houston, TX.\' and have a h-index between 3 and 6.}\n\nQ: {What are the 3 Stk_Name in records with highest values of Acc_Deposits}\n{SELECT Basic_Info.Stk_Name FROM Basic_Info JOIN Balance_Sheet ON Basic_Info.Stk_Code = Balance_Sheet.Stk_Code ORDER BY Balance_Sheet.Acc_Deposits DESC LIMIT 3}\nA: {witch three companies have the most deposit absorption?}\n\nQ: {What are the DisplayName of records published before 1990?}\n{SELECT Venue.DisplayName FROM Paper JOIN Venue_Papers ON Paper.id = Venue_Papers.paper_id JOIN Venue ON Venue_Papers.venue_id = Venue.id WHERE Paper.year < 1990}\nA: {what are the names of venue that have papers published before 1990?}\n\nQ: {Give the distinct Tot_Liab_Own_Eq for all records in the database.}\n{SELECT distinct(Tot_Liab_Own_Eq) FROM Balance_Sheet}\nA: {return the distinct value of total liabilities and owner\'s equity in our data.}\n\nQ: {list all information about Affiliation.}\n{SELECT * FROM Affiliation}\nA:'}], 'temperature': 0.5}

 70%|███████   | 7/10 [00:16<00:07,  2.40s/it]

list all information about Affiliation.
{show me all the information about organizations in our database.}
{'model': 'gpt-3.5-turbo-16k', 'messages': [{'role': 'user', 'content': '[Task Description]\nYou have a SQLite database. Based on the Schema(with useful comments on columns), you generated plentiful question-query pairs with template, whose readability is terrible. Now, given a question-query pair, you are asked to rewrite the question to enhance its readability with the help of comments in Schema.\n\n[Schema]\n{CREATE TABLE Venue(\n  id TEXT, -- id\n  DisplayName TEXT, -- name of the conferenece/joural\n  PRIMARY KEY (id)\n)\n\nCREATE TABLE Affiliation(\n  id TEXT, -- id\n  DisplayName TEXT, -- name of the orgnization\n  type TEXT, -- orgnization type\n  url TEXT, -- link of the orgnization\'s homepage\n  PRIMARY KEY (id)\n)\n\nCREATE TABLE Author(\n  id TEXT, -- id\n  name TEXT, -- name\n  org TEXT, -- author\'s current orgnization\n  position TEXT, -- position\n  n_pubs INTEGER, -- number of paper publication\n  n_citation INTEGER, -- number of total citation\n  h_index INTEGER, -- h-index\n  PRIMARY KEY (id)\n)\n\nCREATE TABLE Paper(\n  id TEXT, -- id\n  title TEXT, -- title\n  year INTEGER, -- publication year\n  n_citation INTEGER, -- number of citation\n  page_start TEXT, -- start page on the publication\n  page_end TEXT, -- end page on the publication\n  lang TEXT, -- language\n  volume TEXT, -- volume of the publicaiton\n  doi TEXT, -- digital object unique identifier\n  pdf TEXT, -- pdf view link of the paper\n  abstract TEXT, -- paper abstract\n  PRIMARY KEY (id)\n)\n\nCREATE TABLE Venue_Papers(\n  venue_id TEXT, -- venue_id\n  paper_id TEXT, -- paper_id\n  FOREIGN KEY (venue_id) REFERENCES Venue(id),\n  FOREIGN KEY (paper_id) REFERENCES Paper(id)\n)\n\nCREATE TABLE Paper_Keywords(\n  paper_id TEXT, -- paper_id\n  keyword TEXT, -- a keyword of the paper\n  FOREIGN KEY (paper_id) REFERENCES Paper(id) \n)\n\nCREATE TABLE Paper_Authors(\n  paper_id TEXT, -- paper_id\n  rank INTEGER, -- this author\'s rank\n  author_id TEXT, -- author_id\n  FOREIGN KEY (paper_id) REFERENCES Paper(id),\n  FOREIGN KEY (author_id) REFERENCES Author(id) \n)\n\nCREATE TABLE Orgnization_Researchers(\n  affiliation_name TEXT, -- name of affiliation that this researcher once belonged to\n  author_id TEXT, -- author_id\n  FOREIGN KEY (author_id) REFERENCES Author(id)\n)\n\nCREATE TABLE Researcher_Interests(\n  author_id TEXT, -- author_id\n  tag Text, -- research interest\n  weight INTEGER, -- weight of this interest\n  FOREIGN KEY (author_id) REFERENCES Author(id)\n)\n\n}\n\n[Solution]\n\nQ: {How many distinct position are there with tag is high resolution?}\n{SELECT COUNT(DISTINCT Author.position) FROM Author JOIN Researcher_Interests ON Author.id = Researcher_Interests.author_id WHERE Researcher_Interests.tag = "high resolution"}\nA: {how may different academic positions are there in researchers who have an interest in "high resolution"?}\n\nQ: {Select the three Debt_Converted_Capital with the biggest Cash_Eq_End_Period from records}\n{SELECT Debt_Converted_Capital FROM Cash_Flow_Statement ORDER BY Cash_Eq_End_Period DESC LIMIT 3}\nA: {find me capital converted from debt with top3 cash equivalents closing balance.}\n\nQ: {What is the page_end of the records with a keyword of \'electric vehicle\' or \'Renmin Univ\'?}\n{SELECT Paper.page_end FROM Paper JOIN Paper_Keywords ON Paper.id = Paper_Keywords.paper_id WHERE Paper_Keywords.keyword = \'electric vehicle\' OR Paper_Keywords.keyword = \'Renmin Univ\'}\nA: {For papers having keyword \'electric vehicle\' or \'Renmin Univ\', what are theirs end page on the publicaiton?}\n\nQ: {What is the average Fix_Assets of records grouped by Stk_Name?}\n{SELECT avg(Balance_Sheet.Fix_Assets) , Basic_Info.Stk_Name FROM Basic_Info JOIN Balance_Sheet ON Basic_Info.Stk_Code = Balance_Sheet.Stk_Code GROUP BY Basic_Info.Stk_Name}\nA: {find out the average fixed assets of each stock.}\n\nQ: {Find the number of records with a h_index of more than 1 for each affiliation_name}\n{SELECT count(*) , Orgnization_Researchers.affiliation_name FROM Author JOIN Orgnization_Researchers ON Author.id = Orgnization_Researchers.author_id WHERE Author.h_index > 1 GROUP BY Orgnization_Researchers.affiliation_name}\nA: {for each affiliation, how many researchers whose h_index greater than 1 belongs to it?}\n\nQ: {For each Tax_n_Surs, report the Tax_n_Surs, the number of Stk_Name and the total number of records with that Tax_n_Surs.}\n{SELECT Income_Statement.Tax_n_Surs , count(DISTINCT Basic_Info.Stk_Name) , count(*) FROM Basic_Info JOIN Income_Statement ON Basic_Info.Stk_Code = Income_Statement.Stk_Code GROUP BY Income_Statement.Tax_n_Surs}\nA: {i want to know how many records and different company names do we have for each taxes and surcharges value, along with the value itself.}\n\nQ: {Show DisplayName of any records in which pdf equals //static.aminer.org/pdf/PDF/001/011/809/.pdf}\n{SELECT Venue.DisplayName FROM Paper JOIN Venue_Papers ON Paper.id = Venue_Papers.paper_id JOIN Venue ON Venue_Papers.venue_id = Venue.id WHERE Paper.pdf = \'//static.aminer.org/pdf/PDF/001/011/809/.pdf\'}\nA: {give me name of the conferenece if anyone of its paper have pdf link same as //static.aminer.org/pdf/PDF/001/011/809/.pdf}\n\nQ: {Count how many records that either have a Stk_Name of China Everbright Bank or a Cash_Pay_Invest of 1056100000000.0.}\n{SELECT count(*) FROM Basic_Info JOIN Cash_Flow_Statement ON Basic_Info.Stk_Code = Cash_Flow_Statement.Stk_Code WHERE Basic_Info.Stk_Name = "China Everbright Bank" OR Cash_Flow_Statement.Cash_Pay_Invest = 1056100000000.0 }\nA: {hoy many records belong to China Everbright Bank or thier cash paid for investment is exactly 1056100000000.0?}\n\nQ: {Report all information about records with h_index between 3 and 6 for which affiliation_name is M. D. Anderson Cancer Center, Houston, TX.}\n{SELECT * FROM Author JOIN Orgnization_Researchers ON Author.id = Orgnization_Researchers.author_id JOIN Affiliation ON Orgnization_Researchers.affiliation_name = Affiliation.DisplayName WHERE Author.h_index BETWEEN 3 AND 6 AND Orgnization_Researchers.affiliation_name = \\"M. D. Anderson Cancer Center, Houston, TX\\"}\nA: {report all the researcher that belongs to \'M. D. Anderson Cancer Center, Houston, TX.\' and have a h-index between 3 and 6.}\n\nQ: {What are the 3 Stk_Name in records with highest values of Acc_Deposits}\n{SELECT Basic_Info.Stk_Name FROM Basic_Info JOIN Balance_Sheet ON Basic_Info.Stk_Code = Balance_Sheet.Stk_Code ORDER BY Balance_Sheet.Acc_Deposits DESC LIMIT 3}\nA: {witch three companies have the most deposit absorption?}\n\nQ: {What are the DisplayName of records published before 1990?}\n{SELECT Venue.DisplayName FROM Paper JOIN Venue_Papers ON Paper.id = Venue_Papers.paper_id JOIN Venue ON Venue_Papers.venue_id = Venue.id WHERE Paper.year < 1990}\nA: {what are the names of venue that have papers published before 1990?}\n\nQ: {Give the distinct Tot_Liab_Own_Eq for all records in the database.}\n{SELECT distinct(Tot_Liab_Own_Eq) FROM Balance_Sheet}\nA: {return the distinct value of total liabilities and owner\'s equity in our data.}\n\nQ: {What is the average and maximum year of each Paper?}\n{SELECT avg(year), max(year) FROM Paper}\nA:'}], 'temperature': 0.5}

 80%|████████  | 8/10 [00:18<00:04,  2.27s/it]

What is the average and maximum year of each Paper?
{what is the average and maximum publication year for each paper?}
{'model': 'gpt-3.5-turbo-16k', 'messages': [{'role': 'user', 'content': '[Task Description]\nYou have a SQLite database. Based on the Schema(with useful comments on columns), you generated plentiful question-query pairs with template, whose readability is terrible. Now, given a question-query pair, you are asked to rewrite the question to enhance its readability with the help of comments in Schema.\n\n[Schema]\n{CREATE TABLE Venue(\n  id TEXT, -- id\n  DisplayName TEXT, -- name of the conferenece/joural\n  PRIMARY KEY (id)\n)\n\nCREATE TABLE Affiliation(\n  id TEXT, -- id\n  DisplayName TEXT, -- name of the orgnization\n  type TEXT, -- orgnization type\n  url TEXT, -- link of the orgnization\'s homepage\n  PRIMARY KEY (id)\n)\n\nCREATE TABLE Author(\n  id TEXT, -- id\n  name TEXT, -- name\n  org TEXT, -- author\'s current orgnization\n  position TEXT, -- position\n  n_pubs INTEGER, -- number of paper publication\n  n_citation INTEGER, -- number of total citation\n  h_index INTEGER, -- h-index\n  PRIMARY KEY (id)\n)\n\nCREATE TABLE Paper(\n  id TEXT, -- id\n  title TEXT, -- title\n  year INTEGER, -- publication year\n  n_citation INTEGER, -- number of citation\n  page_start TEXT, -- start page on the publication\n  page_end TEXT, -- end page on the publication\n  lang TEXT, -- language\n  volume TEXT, -- volume of the publicaiton\n  doi TEXT, -- digital object unique identifier\n  pdf TEXT, -- pdf view link of the paper\n  abstract TEXT, -- paper abstract\n  PRIMARY KEY (id)\n)\n\nCREATE TABLE Venue_Papers(\n  venue_id TEXT, -- venue_id\n  paper_id TEXT, -- paper_id\n  FOREIGN KEY (venue_id) REFERENCES Venue(id),\n  FOREIGN KEY (paper_id) REFERENCES Paper(id)\n)\n\nCREATE TABLE Paper_Keywords(\n  paper_id TEXT, -- paper_id\n  keyword TEXT, -- a keyword of the paper\n  FOREIGN KEY (paper_id) REFERENCES Paper(id) \n)\n\nCREATE TABLE Paper_Authors(\n  paper_id TEXT, -- paper_id\n  rank INTEGER, -- this author\'s rank\n  author_id TEXT, -- author_id\n  FOREIGN KEY (paper_id) REFERENCES Paper(id),\n  FOREIGN KEY (author_id) REFERENCES Author(id) \n)\n\nCREATE TABLE Orgnization_Researchers(\n  affiliation_name TEXT, -- name of affiliation that this researcher once belonged to\n  author_id TEXT, -- author_id\n  FOREIGN KEY (author_id) REFERENCES Author(id)\n)\n\nCREATE TABLE Researcher_Interests(\n  author_id TEXT, -- author_id\n  tag Text, -- research interest\n  weight INTEGER, -- weight of this interest\n  FOREIGN KEY (author_id) REFERENCES Author(id)\n)\n\n}\n\n[Solution]\n\nQ: {How many distinct position are there with tag is high resolution?}\n{SELECT COUNT(DISTINCT Author.position) FROM Author JOIN Researcher_Interests ON Author.id = Researcher_Interests.author_id WHERE Researcher_Interests.tag = "high resolution"}\nA: {how may different academic positions are there in researchers who have an interest in "high resolution"?}\n\nQ: {Select the three Debt_Converted_Capital with the biggest Cash_Eq_End_Period from records}\n{SELECT Debt_Converted_Capital FROM Cash_Flow_Statement ORDER BY Cash_Eq_End_Period DESC LIMIT 3}\nA: {find me capital converted from debt with top3 cash equivalents closing balance.}\n\nQ: {What is the page_end of the records with a keyword of \'electric vehicle\' or \'Renmin Univ\'?}\n{SELECT Paper.page_end FROM Paper JOIN Paper_Keywords ON Paper.id = Paper_Keywords.paper_id WHERE Paper_Keywords.keyword = \'electric vehicle\' OR Paper_Keywords.keyword = \'Renmin Univ\'}\nA: {For papers having keyword \'electric vehicle\' or \'Renmin Univ\', what are theirs end page on the publicaiton?}\n\nQ: {What is the average Fix_Assets of records grouped by Stk_Name?}\n{SELECT avg(Balance_Sheet.Fix_Assets) , Basic_Info.Stk_Name FROM Basic_Info JOIN Balance_Sheet ON Basic_Info.Stk_Code = Balance_Sheet.Stk_Code GROUP BY Basic_Info.Stk_Name}\nA: {find out the average fixed assets of each stock.}\n\nQ: {Find the number of records with a h_index of more than 1 for each affiliation_name}\n{SELECT count(*) , Orgnization_Researchers.affiliation_name FROM Author JOIN Orgnization_Researchers ON Author.id = Orgnization_Researchers.author_id WHERE Author.h_index > 1 GROUP BY Orgnization_Researchers.affiliation_name}\nA: {for each affiliation, how many researchers whose h_index greater than 1 belongs to it?}\n\nQ: {For each Tax_n_Surs, report the Tax_n_Surs, the number of Stk_Name and the total number of records with that Tax_n_Surs.}\n{SELECT Income_Statement.Tax_n_Surs , count(DISTINCT Basic_Info.Stk_Name) , count(*) FROM Basic_Info JOIN Income_Statement ON Basic_Info.Stk_Code = Income_Statement.Stk_Code GROUP BY Income_Statement.Tax_n_Surs}\nA: {i want to know how many records and different company names do we have for each taxes and surcharges value, along with the value itself.}\n\nQ: {Show DisplayName of any records in which pdf equals //static.aminer.org/pdf/PDF/001/011/809/.pdf}\n{SELECT Venue.DisplayName FROM Paper JOIN Venue_Papers ON Paper.id = Venue_Papers.paper_id JOIN Venue ON Venue_Papers.venue_id = Venue.id WHERE Paper.pdf = \'//static.aminer.org/pdf/PDF/001/011/809/.pdf\'}\nA: {give me name of the conferenece if anyone of its paper have pdf link same as //static.aminer.org/pdf/PDF/001/011/809/.pdf}\n\nQ: {Count how many records that either have a Stk_Name of China Everbright Bank or a Cash_Pay_Invest of 1056100000000.0.}\n{SELECT count(*) FROM Basic_Info JOIN Cash_Flow_Statement ON Basic_Info.Stk_Code = Cash_Flow_Statement.Stk_Code WHERE Basic_Info.Stk_Name = "China Everbright Bank" OR Cash_Flow_Statement.Cash_Pay_Invest = 1056100000000.0 }\nA: {hoy many records belong to China Everbright Bank or thier cash paid for investment is exactly 1056100000000.0?}\n\nQ: {Report all information about records with h_index between 3 and 6 for which affiliation_name is M. D. Anderson Cancer Center, Houston, TX.}\n{SELECT * FROM Author JOIN Orgnization_Researchers ON Author.id = Orgnization_Researchers.author_id JOIN Affiliation ON Orgnization_Researchers.affiliation_name = Affiliation.DisplayName WHERE Author.h_index BETWEEN 3 AND 6 AND Orgnization_Researchers.affiliation_name = \\"M. D. Anderson Cancer Center, Houston, TX\\"}\nA: {report all the researcher that belongs to \'M. D. Anderson Cancer Center, Houston, TX.\' and have a h-index between 3 and 6.}\n\nQ: {What are the 3 Stk_Name in records with highest values of Acc_Deposits}\n{SELECT Basic_Info.Stk_Name FROM Basic_Info JOIN Balance_Sheet ON Basic_Info.Stk_Code = Balance_Sheet.Stk_Code ORDER BY Balance_Sheet.Acc_Deposits DESC LIMIT 3}\nA: {witch three companies have the most deposit absorption?}\n\nQ: {What are the DisplayName of records published before 1990?}\n{SELECT Venue.DisplayName FROM Paper JOIN Venue_Papers ON Paper.id = Venue_Papers.paper_id JOIN Venue ON Venue_Papers.venue_id = Venue.id WHERE Paper.year < 1990}\nA: {what are the names of venue that have papers published before 1990?}\n\nQ: {Give the distinct Tot_Liab_Own_Eq for all records in the database.}\n{SELECT distinct(Tot_Liab_Own_Eq) FROM Balance_Sheet}\nA: {return the distinct value of total liabilities and owner\'s equity in our data.}\n\nQ: {Find n_pubs and id of the top 3 n_pubs.}\n{SELECT n_pubs , id FROM Author ORDER BY n_pubs DESC LIMIT 3}\nA:'}], 'temperature': 0.5}

 90%|█████████ | 9/10 [00:21<00:02,  2.74s/it]

Find n_pubs and id of the top 3 n_pubs.
{what are the number of paper publications and their IDs for the top 3 authors with the highest number of paper publications?}
{'model': 'gpt-3.5-turbo-16k', 'messages': [{'role': 'user', 'content': '[Task Description]\nYou have a SQLite database. Based on the Schema(with useful comments on columns), you generated plentiful question-query pairs with template, whose readability is terrible. Now, given a question-query pair, you are asked to rewrite the question to enhance its readability with the help of comments in Schema.\n\n[Schema]\n{CREATE TABLE Venue(\n  id TEXT, -- id\n  DisplayName TEXT, -- name of the conferenece/joural\n  PRIMARY KEY (id)\n)\n\nCREATE TABLE Affiliation(\n  id TEXT, -- id\n  DisplayName TEXT, -- name of the orgnization\n  type TEXT, -- orgnization type\n  url TEXT, -- link of the orgnization\'s homepage\n  PRIMARY KEY (id)\n)\n\nCREATE TABLE Author(\n  id TEXT, -- id\n  name TEXT, -- name\n  org TEXT, -- author\'s current orgnization\n  position TEXT, -- position\n  n_pubs INTEGER, -- number of paper publication\n  n_citation INTEGER, -- number of total citation\n  h_index INTEGER, -- h-index\n  PRIMARY KEY (id)\n)\n\nCREATE TABLE Paper(\n  id TEXT, -- id\n  title TEXT, -- title\n  year INTEGER, -- publication year\n  n_citation INTEGER, -- number of citation\n  page_start TEXT, -- start page on the publication\n  page_end TEXT, -- end page on the publication\n  lang TEXT, -- language\n  volume TEXT, -- volume of the publicaiton\n  doi TEXT, -- digital object unique identifier\n  pdf TEXT, -- pdf view link of the paper\n  abstract TEXT, -- paper abstract\n  PRIMARY KEY (id)\n)\n\nCREATE TABLE Venue_Papers(\n  venue_id TEXT, -- venue_id\n  paper_id TEXT, -- paper_id\n  FOREIGN KEY (venue_id) REFERENCES Venue(id),\n  FOREIGN KEY (paper_id) REFERENCES Paper(id)\n)\n\nCREATE TABLE Paper_Keywords(\n  paper_id TEXT, -- paper_id\n  keyword TEXT, -- a keyword of the paper\n  FOREIGN KEY (paper_id) REFERENCES Paper(id) \n)\n\nCREATE TABLE Paper_Authors(\n  paper_id TEXT, -- paper_id\n  rank INTEGER, -- this author\'s rank\n  author_id TEXT, -- author_id\n  FOREIGN KEY (paper_id) REFERENCES Paper(id),\n  FOREIGN KEY (author_id) REFERENCES Author(id) \n)\n\nCREATE TABLE Orgnization_Researchers(\n  affiliation_name TEXT, -- name of affiliation that this researcher once belonged to\n  author_id TEXT, -- author_id\n  FOREIGN KEY (author_id) REFERENCES Author(id)\n)\n\nCREATE TABLE Researcher_Interests(\n  author_id TEXT, -- author_id\n  tag Text, -- research interest\n  weight INTEGER, -- weight of this interest\n  FOREIGN KEY (author_id) REFERENCES Author(id)\n)\n\n}\n\n[Solution]\n\nQ: {How many distinct position are there with tag is high resolution?}\n{SELECT COUNT(DISTINCT Author.position) FROM Author JOIN Researcher_Interests ON Author.id = Researcher_Interests.author_id WHERE Researcher_Interests.tag = "high resolution"}\nA: {how may different academic positions are there in researchers who have an interest in "high resolution"?}\n\nQ: {Select the three Debt_Converted_Capital with the biggest Cash_Eq_End_Period from records}\n{SELECT Debt_Converted_Capital FROM Cash_Flow_Statement ORDER BY Cash_Eq_End_Period DESC LIMIT 3}\nA: {find me capital converted from debt with top3 cash equivalents closing balance.}\n\nQ: {What is the page_end of the records with a keyword of \'electric vehicle\' or \'Renmin Univ\'?}\n{SELECT Paper.page_end FROM Paper JOIN Paper_Keywords ON Paper.id = Paper_Keywords.paper_id WHERE Paper_Keywords.keyword = \'electric vehicle\' OR Paper_Keywords.keyword = \'Renmin Univ\'}\nA: {For papers having keyword \'electric vehicle\' or \'Renmin Univ\', what are theirs end page on the publicaiton?}\n\nQ: {What is the average Fix_Assets of records grouped by Stk_Name?}\n{SELECT avg(Balance_Sheet.Fix_Assets) , Basic_Info.Stk_Name FROM Basic_Info JOIN Balance_Sheet ON Basic_Info.Stk_Code = Balance_Sheet.Stk_Code GROUP BY Basic_Info.Stk_Name}\nA: {find out the average fixed assets of each stock.}\n\nQ: {Find the number of records with a h_index of more than 1 for each affiliation_name}\n{SELECT count(*) , Orgnization_Researchers.affiliation_name FROM Author JOIN Orgnization_Researchers ON Author.id = Orgnization_Researchers.author_id WHERE Author.h_index > 1 GROUP BY Orgnization_Researchers.affiliation_name}\nA: {for each affiliation, how many researchers whose h_index greater than 1 belongs to it?}\n\nQ: {For each Tax_n_Surs, report the Tax_n_Surs, the number of Stk_Name and the total number of records with that Tax_n_Surs.}\n{SELECT Income_Statement.Tax_n_Surs , count(DISTINCT Basic_Info.Stk_Name) , count(*) FROM Basic_Info JOIN Income_Statement ON Basic_Info.Stk_Code = Income_Statement.Stk_Code GROUP BY Income_Statement.Tax_n_Surs}\nA: {i want to know how many records and different company names do we have for each taxes and surcharges value, along with the value itself.}\n\nQ: {Show DisplayName of any records in which pdf equals //static.aminer.org/pdf/PDF/001/011/809/.pdf}\n{SELECT Venue.DisplayName FROM Paper JOIN Venue_Papers ON Paper.id = Venue_Papers.paper_id JOIN Venue ON Venue_Papers.venue_id = Venue.id WHERE Paper.pdf = \'//static.aminer.org/pdf/PDF/001/011/809/.pdf\'}\nA: {give me name of the conferenece if anyone of its paper have pdf link same as //static.aminer.org/pdf/PDF/001/011/809/.pdf}\n\nQ: {Count how many records that either have a Stk_Name of China Everbright Bank or a Cash_Pay_Invest of 1056100000000.0.}\n{SELECT count(*) FROM Basic_Info JOIN Cash_Flow_Statement ON Basic_Info.Stk_Code = Cash_Flow_Statement.Stk_Code WHERE Basic_Info.Stk_Name = "China Everbright Bank" OR Cash_Flow_Statement.Cash_Pay_Invest = 1056100000000.0 }\nA: {hoy many records belong to China Everbright Bank or thier cash paid for investment is exactly 1056100000000.0?}\n\nQ: {Report all information about records with h_index between 3 and 6 for which affiliation_name is M. D. Anderson Cancer Center, Houston, TX.}\n{SELECT * FROM Author JOIN Orgnization_Researchers ON Author.id = Orgnization_Researchers.author_id JOIN Affiliation ON Orgnization_Researchers.affiliation_name = Affiliation.DisplayName WHERE Author.h_index BETWEEN 3 AND 6 AND Orgnization_Researchers.affiliation_name = \\"M. D. Anderson Cancer Center, Houston, TX\\"}\nA: {report all the researcher that belongs to \'M. D. Anderson Cancer Center, Houston, TX.\' and have a h-index between 3 and 6.}\n\nQ: {What are the 3 Stk_Name in records with highest values of Acc_Deposits}\n{SELECT Basic_Info.Stk_Name FROM Basic_Info JOIN Balance_Sheet ON Basic_Info.Stk_Code = Balance_Sheet.Stk_Code ORDER BY Balance_Sheet.Acc_Deposits DESC LIMIT 3}\nA: {witch three companies have the most deposit absorption?}\n\nQ: {What are the DisplayName of records published before 1990?}\n{SELECT Venue.DisplayName FROM Paper JOIN Venue_Papers ON Paper.id = Venue_Papers.paper_id JOIN Venue ON Venue_Papers.venue_id = Venue.id WHERE Paper.year < 1990}\nA: {what are the names of venue that have papers published before 1990?}\n\nQ: {Give the distinct Tot_Liab_Own_Eq for all records in the database.}\n{SELECT distinct(Tot_Liab_Own_Eq) FROM Balance_Sheet}\nA: {return the distinct value of total liabilities and owner\'s equity in our data.}\n\nQ: {For every paper_id in Paper_Keywords, return the paper_id, its number of distinct paper_id as well as the total count of Paper_Keywords within that group.}\n{SELECT paper_id , count(DISTINCT paper_id) , count(*) FROM Paper_Keywords GROUP BY paper_id}\nA:'}], 'temperature': 0.5}

100%|██████████| 10/10 [00:24<00:00,  2.44s/it]

For every paper_id in Paper_Keywords, return the paper_id, its number of distinct paper_id as well as the total count of Paper_Keywords within that group.
{for each paper, how many distinct keywords does it have and what is the total count of keywords for that paper?}

[{'question': 'show me the number of citations for all papers that have at least one citation.',
  'SQL': 'SELECT n_citation FROM Paper WHERE n_citation != 0'},
 {'question': 'which two papers have the highest rank?',
  'SQL': 'SELECT paper_id FROM Paper_Authors ORDER BY rank DESC LIMIT 2'},
 {'question': 'show me the types of organizations that appear less than 40 times in the database.',
  'SQL': 'SELECT type FROM Affiliation GROUP BY type HAVING COUNT (*) < 40'},
 {'question': 'how many researchers have an interest in visualization with a weight greater than 1?',
  'SQL': 'SELECT COUNT (*) FROM Researcher_Interests WHERE weight > 1 AND tag = "visualization"'},
 {'question': 'what is the position and id of the top 5 authors with the fewest number of citations?',
  'SQL': 'SELECT position , id FROM Author ORDER BY n_citation LIMIT 5'},
 {'question': 'what is the number of citations that appears most frequently in our data?',
  'SQL': 'SELECT n_citation FROM Paper GROUP BY n_citation ORDER BY count(*) DESC LIMIT 1'},
 {'question': 'show me all the information about organizations in our database.',
  'SQL': 'SELECT * FROM Affiliation'},
 {'question': 'what is the average and maximum publication year for each paper?',
  'SQL': 'SELECT avg(year), max(year) FROM Paper'},
 {'question': 'what are the number of paper publications and their IDs for the top 3 authors with the highest number of paper publications?',
  'SQL': 'SELECT n_pubs , id FROM Author ORDER BY n_pubs DESC LIMIT 3'},
 {'question': 'for each paper, how many distinct keywords does it have and what is the total count of keywords for that paper?',
  'SQL': 'SELECT paper_id , count(DISTINCT paper_id) , count(*) FROM Paper_Keywords GROUP BY paper_id'}]